.catalog-subnav {
	position: absolute;
	left: calc(100% - 2px);
	top: 0;
	bottom: 0;
	z-index: 2;
	display: none;
	border-left: 1px solid $color-main-action;
	border-radius: 0 4px 4px 0;
	padding: 16px 24px 0;
	width: 670px;
	background-color: #fff;

	&__inner {
		display: flex;

		@media screen and (max-width: $phone-size) { display: block; }

		> * {
			&:not(:last-child) {
				margin-right: 32px;

				@media screen and (max-width: $phone-size) { margin-right: 0; }
			}
		}
	}

	&__list {
		margin-bottom: 32px;

		> * {
			margin: 8px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 16px; }
		}

		@media screen and (max-width: $phone-size) { display: none; }
	}

	&__col {
		flex: 1;
		margin-bottom: 16px;

		> * {
			margin: 32px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}

		@media screen and (max-width: $phone-size) { margin: 0; }
	}

	&__header {
		position: relative;
		margin-bottom: 8px;

		&::after {
			@media screen and (max-width: $phone-size) {
				content: "";
				position: absolute;
				right: 16px;
				top: 16px;
				border-style: solid;
				border-width: 5px 0 5px 5px;
				border-color: transparent transparent transparent $color-base-text;
				width: 0;
				height: 0;
				transform: rotate(90deg);
			}
		}

		@media screen and (max-width: $phone-size) {
			margin-bottom: 0;
			border-bottom: 1px solid $color-main-action;
			padding: 8px 40px 8px 24px;
		}
	}

	&__title {
		font-family: $font-family-boldest;
		font-weight: bold;
		font-size: 22px;
		line-height: 24px;

		@media screen and (max-width: $phone-size) {
			font-size: 14px;
			line-height: 1.86;
		}
	}

	&__item {
		font-family: $font-family-semibold;
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;

		@media screen and (max-width: $phone-size) {
			border-bottom: 1px solid $color-main-action;
			padding: 8px 0;
			line-height: 1.86;
		}
	}

	&__link {
		@media screen and (max-width: $phone-size) {
			padding-left: 32px;
		}
	}

	@media screen and (max-width: $tablet-size) { width: 473px; }

	@media screen and (max-width: $phone-size) {
		position: static;
		padding: 0;
		width: 100%;
	}

	@media screen and (max-width: $phone-size) {
		.catalog-subnav__header--active ~ .catalog-subnav__list { display: block; }
	}
}
