.input-field {
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	> * {
		margin: 8px 0;
		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
	}

	&__label {
		position: relative;
		font-size: 12px;
		letter-spacing: 0.65px;
		text-transform: uppercase;
		color: $color-label;
	}

	&__input {
		border: 1px solid $color-input-border;
		border-radius: 4px;
		padding: 8px;
		width: 100%;
		height: 50px;
		box-shadow: none;
		background-color: #fff;

		&.error {
			border-color: $color-warning;

			&::placeholder {
				color: $color-warning;
			}
		}
	}

	&--textarea {
		textarea { height: 100px; }
	}

	&--size-small {
		input {
			padding: 0 16px;
			height: 40px;
			font-size: 14px;
			line-height: 24px;
		}
	}

	&--width {
		&-s {
			input {
				max-width: 100%;
			}
		}

		&-m {
			flex: 0 0 248px;
			max-width: 248px;
		}

		&-l {
			flex: 0 0 288px;
			max-width: 288px;
		}
	}

	&--require {
		label {
			/* stylelint-disable-next-line a11y/content-property-no-static-value */
			&::after {
				content: "*";
				position: absolute;
				right: -10px;
				top: -7px;
				font-size: 18px;
				color: $color-warning;
			}
		}
	}

	&--no-label {
		> * { margin: 0; }
	}

	&--location {
		> * { margin: 0; }
	}

	@include placeholder {
		color: $color-text-info;
	}
}
