mixin field-text(props)

	//- Принимает:
	//-   props {
	//-     mods: ''          {string} - модификаторы блока
	//-     attrs:            {object} - любые атрибуты для input/textarea
	//-       type:           {string}
	//-       placeholder:    {string}
	//- Вызов:
			+field-text({
			mods: '',
			attrs: {
				name: 'comment',
			}
			})

	-
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props.mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' input-field--' + modsList[i].trim();
			}
		}

	label.input-field(class=allMods)
		input.input-field__input(type=(typeof(props.attrs) !== 'undefined' && props.attrs.type) ? props.attrs.type : 'text' value=props.val)&attributes(props.attrs)
