mixin field-textarea(props)
	-
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props.mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' input-field--' + modsList[i].trim();
			}
		}
	.input-field.input-textarea(class=allMods)
		label.input-field__label(for=props.id)= props.labelText
		textarea.input-field__input.input-field__textarea(id=props.id placeholder= props.placeholder)&attributes(props.attrs)
