.modal {
	position: relative;
	margin: 48px auto;
	border-radius: 8px;
	max-width: 520px;

	.show-on-success { display: none; }

	.close--modal {
		display: flex;
		align-items: center;
		margin-left: auto;
		width: 24px;
		height: 24px;
		opacity: 0.2;

		&:hover,
		&:focus {
			opacity: 0.8;
			transition: opacity linear 0.3s;
		}

		@media screen and (max-width: $phone-size) {
			position: absolute;
			right: 5px;
			top: 5px;
			margin-left: 0;
			opacity: 1;

			span {
				&::before,
				&::after {
					background-color: $color-main-action;
				}
			}

			&:hover,
			&:focus { opacity: 1; }
		}
	}

	.form {
		@media screen and (max-width: $phone-size) { padding: 8px 16px; }
	}

	&__header {
		display: flex;
		align-items: center;
		padding: 8px 24px 8px 40px;
		background-color: $color-light-bg;

		@media screen and (max-width: $phone-size) { padding: 0 16px; }
	}

	&__body { background-color: #fff; }

	&__title {
		font-size: 18px;
		line-height: 24px;

		@media screen and (max-width: $phone-size) {
			margin: 8px 0;
			font-size: 14px;
		}
	}

	&--colors {
		display: flex;
		flex-direction: column;
		max-width: 800px;
		max-height: calc(100vh - 80px);

		.form { padding: 0 32px; }

		.modal {
			&__header {
				padding: 16px 32px;
				background-color: #fff;
			}

			&__title {
				font-weight: 600;
				font-size: 30px;
			}
		}
	}

	@media screen and (max-width: $phone-size) { margin: 0 auto; }
}
