mixin main-nav()
	nav.main-nav
		ul.main-nav__list
			li.main-nav__item
				a.main-nav__link(href="#") Оплата и доставка
			li.main-nav__item
				a.main-nav__link(href="#") Гарантия
			li.main-nav__item
				a.main-nav__link(href="#") Услуги
			li.main-nav__item
				a.main-nav__link(href="#") Компания
			li.main-nav__item
				a.main-nav__link(href="#") Контакты
