.sandwich {
	position: relative;
	width: 23px;
	height: 14px;
	cursor: pointer;

	&__line {
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
		transition: top linear 0.4s, transform linear 0.4s, opacity linear 0.4s;
		&--top { top: 0; }

		&--middle { top: 6px; }

		&--bottom { top: 12px; }
	}

	&--active {
		.sandwich__line {
			&--top {
				top: 6px;
				transform: rotate(45deg);
			}
			&--middle { opacity: 0; }

			&--bottom {
				top: 6px;
				transform: rotate(-45deg);
			}
		}
	}
}
