mixin slider(props)
	-
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props.mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + 'slider--' + modsList[i].trim();
			}
		}
	.slider(class=allMods)
		if (props.type === 'cat')
			.popular-prev__navigation
				.slider__nav.popular-prev__btn.popular-prev__btn--prev
					+icon('arrow-left', 'slider__icon')
				.slider__nav.popular-prev__btn.popular-prev__btn--next
					+icon('arrow-right', 'slider__icon')
			.js-categories-prev.popular-prev__prev
				block
		else if (props.type === 'about__block')
			.slider__nav.about__block-btn--prev
				+icon('arrow-left', 'slider__icon')
			.slider__nav.about__block-btn--next
				+icon('arrow-right', 'slider__icon')
			.js-slider(class=`${props.jsMod}`)
				block
		else if (props.type === 'about__recommend')
			.slider__nav.about__block-btn--prev.about__recommend-btn--prev
				+icon('arrow-left', 'slider__icon')
			.slider__nav.about__block-btn--next.about__recommend-btn--next
				+icon('arrow-right', 'slider__icon')
			.js-slider(class=`${props.jsMod}`)
				block
		else
			.slider__nav.slider__nav--prev
				+icon('arrow-left', 'slider__icon')
			.slider__nav.slider__nav--next
				+icon('arrow-right', 'slider__icon')
			.js-slider(class=`${props.jsMod}`)
				block
