.slider {
	position: relative;

	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2px;

		button {
			display: block;
			border: 0;
			border-radius: 2px;
			padding: 0;
			width: 10px;
			height: 10px;
			text-indent: -9999px;
			background-color: $color-slider-dot-bg;
		}

		> * {
			&:not(:last-child) { margin-right: 8px; }
		}

		.slick-active {
			button { background-color: $color-main-action; }
		}
	}

	&__nav {
		position: absolute;
		top: 50%;
		opacity: 0.5;
		cursor: pointer;
		transform: translateY(-50%);
		transition: opacity linear 0.3s;

		&:hover,
		&:focus { opacity: 1; }

		&.slick-disabled {
			cursor: default;

			&:hover,
			&:focus {
				opacity: 0.3;
			}
		}

		&--prev {
			left: -55px;

			@media screen and (max-width: $phone-size) { left: -15px; }
		}

		&--next {
			right: -55px;

			@media screen and (max-width: $phone-size) { right: -15px; }
		}
	}

	&__icon {
		width: 30px;
		height: 30px;
		fill: $color-base-text;
	}
}
