.field-select {
	display: block;
	margin-bottom: 1em;

	&__name {
		display: block;
		margin-bottom: 8px;
		font-size: 14px;
		line-height: 1.2;
		letter-spacing: 0.65px;
		text-transform: uppercase;
		color: $color-label;
	}

	&__help-text {
		display: block;
		padding-top: 0.4em;
		font-size: 16px;
		line-height: 1.2em;
		color: #7f7f7f;

		&:empty { display: none; }
	}

	.choices {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			right: 16px;
			top: 23px;
			border-bottom: 1px solid #000;
			border-left: 1px solid #000;
			width: 9px;
			height: 9px;
			pointer-events: none;
			transform: rotate(-45deg);
			transition: all 0.3s;
		}

		.text-count {
			margin-left: 8px;
		}

		&__input {
			padding: 8px;
			width: 100%;
		}

		.is-hidden { display: none; }

		&__inner {
			border: 1px solid $color-input-border;
			border-radius: 4px;
			padding: 16px;
			font-size: 1em;
			line-height: 1.5;
			background: #fff;
			cursor: pointer;

			.choices__item--selectable {
				overflow: hidden;
				padding-left: 8px;
				max-width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		&__list--dropdown {
			position: absolute;
			top: 100%;
			z-index: 1;
			display: none;
			overflow: hidden;
			margin-top: -1px;
			border: 1px solid #b2b2b2;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			width: 100%;
			word-break: break-all;
			background-color: #fff;

			.choices__item {
				padding: 16px 24px;
				cursor: pointer;

				&.is-highlighted { background: $color-main-action; }
			}
		}

		&__heading {
			padding: 8px 16px;
			font-weight: 700;
			font-size: 16px;
			opacity: 0.5;
			cursor: default;
		}

		&:focus {
			&:not(.is-disabled) {
				.choices__inner { outline: 0; }
			}
		}

		&.is-open::after { transform: translateY(3px) rotate(135deg); }

		&.is-open {
			.choices__list--dropdown { display: block; }
		}

		&.is-disabled {
			.choices__inner {
				background-color: #ccc;
				cursor: default;
			}
		}
	}

	&--error {
		color: #d8534f;

		.field-select__name,
		.field-select__select,
		.field-select__help-text { color: #d8534f; }

		.field-select__select,
		.choices__inner,
		.choices::after {
			border-color: #d8534f;
			background-color: lighten(#d8534f, 35%);
		}
	}

	&--width {
		&-s {
			select {
				max-width: 100%;
			}
		}

		&-sm {
			flex: 0 0 144px;
			width: 144px;
		}

		&-m {
			flex: 0 0 248px;
			width: 248px;
		}

		&-l {
			flex: 0 0 288px;
			width: 288px;
		}

		&-xl {
			flex: 0 0 360px;
			width: 360px;
		}
	}

	&--product-options {
		.field-select__name { margin-bottom: 24px; }

		.choices {
			&::after { top: 14px; }
			&__inner { padding: 8px 32px 8px 8px; }
		}
	}
}
