mixin form-success(type)
	.form-success
		.form-success__block
			.form-success__info
				span.form-success__text Номер вашей заявки
				span.form-success__number  928544-b
			p.form-success__callback Менеджер позвонит на указанный телефон
				b  сегодня до 14:43
				|  по московскому времени.
		.form-success__block
			span.form-success__label Не готовы ждать?
			.form-success__row
				.form-success__col
					+order-callback('Звоните круглосуточно','+7 490 456-34-34', '#', 'Набрать номер по QR коду', 'form', 'phone')
				.form-success__col
					+order-callback('Напишите нам email','', '', '', 'form', 'mail', 'question@evensky.ru')
	if ( type === 'long')
		+fast-review('Насколько быстро вы нашли нужный товар ?', 'modal')
