mixin form-success(type)
	.form-success
		.form-success__block
			.form-success__info
				span.form-success__text Номер вашей заявки
				span.form-success__number  928544-b
			p.form-success__callback Менеджер позвонит на указанный телефон
				b  сегодня до 14:43
				|  по московскому времени.
		.form-success__block
			span.form-success__label Не готовы ждать?
			.form-success__row
				.form-success__col
					+order-callback({
						descr: 'Звоните круглосуточно',
						tel: '+7 490 456-34-34',
						link: '#',
						linkText: 'Набрать номер по QR коду',
						position: 'form',
						icon: 'phone'
					})
				.form-success__col
					+order-callback({
						descr: 'Напишите нам email',
						position: 'form',
						icon: 'mail',
						mail: 'question@evensky.ru'
					})
	if ( type === 'long')
		+fast-review('Насколько быстро вы нашли нужный товар ?', 'modal')
