.promo {
	overflow: hidden;
	border-radius: 8px;

	&__prevs {
		display: flex;
		justify-content: space-between;

		> * {
			flex: 1;

			&:not(:last-child) {
				margin-right: 32px;

				@media screen and (max-width: $tablet-size) { margin-right: 24px; }
			}

			@media screen and (max-width: $tablet-size) {
				&:nth-child(2) {
					margin-right: 0;
				}
			}
		}
	}
}
