mixin promo()
	+section({
		mods: 'promo',
		mainClass: 'promo'
	})
		+section-header('Все спецпредложения', 123, 'Акции и предложения')
		.promo__prevs
			+promoPrev('Купить листы оцинкованные', 'Специальное предложение', 'на листы оцинкованные')
			+promoPrev('Купить доборные элементы кровли', 'Распродажа', 'доборных элементов кровли')
			+promoPrev('Купить профнастил со скидкой', 'Скидки до 50%', 'на профнастил')
