mixin promo()
	+section({
		mods: 'promo',
		mainClass: 'promo'
	})
		+section-header('Акции и предложения')
			+page-counter({
				col: true,
				link: 'Все спецпредложения',
			})
		.promo__prevs
			+promoPrev({
				link: 'Купить листы оцинкованные',
				descr: 'Специальное предложение',
				title:  'на листы оцинкованные',
				mods: ' '
			})
			+promoPrev({
				link: 'Купить доборные элементы кровли',
				descr: 'Распродажа',
				title: 'доборных элементов кровли',
				mods: ' '
			})
			+promoPrev({
				link: 'Купить профнастил со скидкой',
				descr: 'Скидки до 50%',
				title: 'на профнастил',
				mods: 'hide'
			})
		+page-counter({
				col: true,
				link: 'Все спецпредложения',
				mods: 'mobile'
			})
