.main-nav {
	&__list {
		display: flex;

		> * {
			&:not(:last-child) { margin-right: 40px; }
		}
	}

	&__item {
		font-size: 16px;// TODO: 12px for readable
		letter-spacing: 0.65px;

		// BUG: stylint
		/* stylelint-disable plugin/no-unsupported-browser-features */
		text-transform: uppercase;
	}
}
