.title {
	&-page {
		font-family: $font-family-semibold;
		font-size: 40px;
		line-height: 48px;
	}

	&-section {
		margin-bottom: 24px;
		font-family: $font-family-semibold;
		font-size: 40px;
		line-height: 48px;
	}
}
