.pagination {
	display: inline-flex;
	flex-wrap: wrap;
	overflow: hidden;
	border-radius: 4px;
	background-color: #fff;

	&__item {
		border-left: 1px solid #f2f2f2;

		&:hover,
		&:focus {
			text-decoration: none;
			color: $color-link;
		}

		&--active { background-color: $color-main-action; }
		&--plus { background-color: #dedede; }
		& + & { border-left: 0; }

		@at-root #{&} {
			&:hover,
			&:focus {
				background-color: $color-main-action;
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 45px;
		font-size: 18px;
	}
}
