.my-order {
	border: 1px solid $color-input-border;
	padding: 16px;
	line-height: 16px;

	> * {
		margin: 16px 0;
		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }

		@media screen and (max-width: $phone-size) {
			margin: 8px 0;
		}
	}

	&__header {
		position: relative;
		display: flex;
		align-items: baseline;

		> * {
			&:not(:last-child) {
				margin-right: 16px;

				@media screen and (max-width: $phone-size) {
					margin-right: 0;
					margin-bottom: 8px;
				}
			}
		}

		@media screen and (max-width: $tablet-size) { flex-wrap: wrap; }

		@media screen and (max-width: $phone-size) {
			flex-direction: column;
			padding-right: 80px;
		}
	}

	.my-order-status {
		@media screen and (max-width: $tablet-size) { margin-top: 8px; }
	}

	&__body {
		> * {
			margin: 16px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}

	&__number {
		font-size: 24px;
		line-height: 1.44;

		@media screen and (max-width: $tablet-size) { font-size: 18px; }
	}

	&__link {
		margin-left: auto;
		text-decoration: underline;
		color: $color-link;

		@media screen and (max-width: $tablet-size) { margin-left: 0; }
	}

	&__block {
		display: flex;
		align-items: flex-start;

		> * {
			&:not(:last-child) {
				margin-right: 16px;

				@media screen and (max-width: $tablet-size) {
					margin-right: 0;
					margin-bottom: 16px;
				}
			}
		}

		@media screen and (max-width: $tablet-size) { flex-direction: column; }
	}

	&__item {
		flex: 1;

		> * {
			margin: 8px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}

		@media screen and (max-width: $phone-size) { width: 100%; }
	}

	&__total {
		flex: 0 0 auto;
		margin-left: auto;

		> * {
			margin: 8px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}

		@media screen and (max-width: $phone-size) {
			flex: 1;
			margin-left: 0;
			width: 100%;
		}
	}

	&__line {
		display: flex;
		align-items: baseline;

		> * {
			&:not(:last-child) {
				margin-right: 8px;

				@media screen and (max-width: $phone-size) {
					margin-right: 0;
					margin-bottom: 8px;
				}
			}
		}

		@media screen and (max-width: $phone-size) { flex-wrap: wrap; }
	}

	&__line-label {
		flex: 0 0 135px;
		width: 135px;
		font-size: 12px;
		letter-spacing: 0.6px;
		text-transform: uppercase;
		color: $color-link;

		@media screen and (max-width: $phone-size) {
			flex: 1;
			width: 100%;
		}
	}

	&__line-body {
		display: flex;
		flex-direction: column;
	}

	&__descr { color: $color-text-info; }

	&__price {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid $color-input-border;
		padding-top: 8px;
	}

	&__price-number {
		font-family: $font-family-boldest;
		font-size: 16px;
	}
}
