mixin popular-cat-prev(props)
	-
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props.mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + 'popular-prev--' + modsList[i].trim();
			}
		}
	.popular-prev(class=AllMods)
		+slider({
			type: 'cat',
			jsMod: 'cat'
		})
			block
