.fieldset {
	display: flex;

	&__legend {
		position: absolute !important;
		clip: rect(1px, 1px, 1px, 1px);
		overflow: hidden;
		width: 1px;
		height: 1px;
	}

	&--flex {
		.fieldset__inner {
			display: flex;
			justify-content: space-between;

			.input-field {
				@media screen and (max-width: $phone-size) {
					flex: 0 0 auto;
				}
			}

			.input-field__input {
				@media screen and (max-width: $phone-size) { margin-bottom: 8px; }
			}

			@media screen and (max-width: $phone-size) { flex-direction: column; }
		}
	}
}
