mixin fieldset(legend, mods)
	-
		// список модификаторов
		var allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			var modsList = mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' fieldset--' + modsList[i].trim();
			}
		}

	fieldset.fieldset.form__fieldset(class=allMods)&attributes(attributes)
		legend.fieldset__legend= legend
		.fieldset__inner
			block
