.s-banner {
	color: #fff;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.banner {
	.title-page { margin-bottom: 16px; }

	&-text {
		font-size: 24px;
		line-height: 24px;
	}
}
