mixin copyright(link, mapLink)
	.copyright
		.copyright__line
			span.copyright__text &copy; 2019 Завод "Веневский"
			a.copyright__link(href= mapLink) Карта сайта
			a.copyright__link(href= link) Политика конфедециальности
		.copyright__line
			p.copyright__bottom-text Сайт test.ru носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ГК РФ.
			p.copyright__bottom-text Для получения подробной информации о наличии, видах, характеристиках и стоимости материалов, пожалуйста, обращайтесь в офисы продаж
