header.header
	.header-top
		.container
			include ../components/header/location
			include ../components/header/main-nav
			include ../components/header/user-nav
	.header-main
		.container
			include ../components/header/header-logo
			include ../components/header/catalog-nav
			include ../components/header/search
			include ../components/header/order-callback
			include ../components/header/basket
