mixin sort-item(props)
	-
		var allMods = "";
		if(typeof(props.mods) !== "undefined" && props.mods)
			var modsList = props.mods.split(",");
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + " sort-item--" + modsList[i].trim();
			}

	.sort-item(class= allMods)
			span.sort-item__title= props.title
			.sort-item__action
				.sort-item__header.js-sort-item__header
					span.sort-item__current= props.current
				.sort-item__body
					block

mixin sort-item__link (name, descr)
	.sort-item__link
		span.sort-item__name= name
		if(descr)
			span.sort-item__descr= descr