header.header
	.header-top
		.location.header-top__location
			span.location__current Нижний Новгород
		include components/main-nav
		.user-nav.header-top__user-nav
			a(href="#").user-nav__link Войти
	.header-main
		.catalog.header-main__catalog
			.sandwich
				.sandwich__line.sandwich__line--top
				.sandwich__line.sandwich__line--middle
				.sandwich__line.sandwich__line--bottom
			span.catalog__title Каталог стройматериалов
		.search.header-main__search
			input(type="text" placeholder="Артикул или название товара").input-field
		.order-callback
			span.order-callback__description Звоните круглосуточно
			a(href="tel:+74904563434").order-callback__phone +7 490 456-34-34
			a(href="#").order-callback__link Заказать звонок
		include components/basket
