.product-delivery {
	&__wrapper {
		> * {
			margin: 40px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}

	&__block {
		display: flex;
		align-items: flex-start;

		> * {
			&:not(:last-child) {
				margin-bottom: 24px;

				@media screen and (max-width: $phone-size) { margin-bottom: 8px; }
			}
		}

		@media screen and (max-width: $phone-size) { display: block; }
	}

	&__main {
		flex: 1;
		margin-bottom: 0;
		width: 100%;
		max-width: 728px;

		> * {
			margin: 16px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}

	&__item {
		> * {
			margin: 16px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}

	&__title {
		display: block;
		margin-bottom: 24px;
		font-family: $font-family-boldest;
		font-size: 16px;

		&--mt { margin-top: 16px; }

		@media screen and (max-width: $phone-size) { font-size: 14px; }
	}

	&__main-title {
		display: block;
		margin-bottom: 16px;
		font-family: $font-family-boldest;
		font-size: 20px;

		@media screen and (max-width: $phone-size) { font-size: 18px; }
	}

	&__aside {
		flex: 0 0 420px;
		width: 420px;
	}

	&__aside-gray {
		border-radius: 4px;
		padding: 24px;
		background-color: #f5f5f5;

		> * {
			margin: 8px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}

		@media screen and (max-width: $phone-size) { display: none; }
	}

	&__aside-gray-title {
		display: block;
		margin-bottom: 8px;
		font-family: $font-family-semibold;
		font-size: 20px;
	}

	&__footer {
		display: flex;
		flex-direction: column;

		> * {
			margin: 8px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}

	&__footer-buttons {
		display: flex;

		> * {
			&:not(:last-child) { margin-right: 16px; }
		}

		.btn {
			width: 35%;

			@media screen and (max-width: $phone-size) { width: 100%; }
		}

		@media screen and (max-width: $phone-size) {
			display: block;

			> * {
				&:not(:last-child) { margin-bottom: 8px; }
			}
		}
	}

	&__footer-text { line-height: 1.44; }

	&__footer-link {
		font-size: 16px;
		text-decoration: underline;
		color: $color-link;
	}

	.pay-methods__line { font-size: 16px; }

	.helper-consult__row {
		flex-direction: column-reverse;

		> * {
			&:not(:first-child) { margin-bottom: 16px; }
		}
	}

	.helper-consult__title {
		font-size: 18px;
		line-height: 1.44;
	}

	.btn--delivery--active {
		background-color: lighten($color-main-action, 10%);
	}

	.form--product-deivery {
		display: none;
		padding: 0;

		&--active { display: block; }
	}

	.fieldset__inner {
		@media screen and (max-width: $phone-size) { display: block; }
	}

	.field-select,
	.input-field {
		flex: 0 0 100%;
		width: 100%;
		max-width: 100%;
	}
}
