mixin action-single()
	+section({
		mods: 'action-single,bg-white',
		mainClass: 'action-single'
	})
		+section-header('Мультиварка в подарок при заказе водостока от 50 000 рублей', '', 'small')
		.action-single__wrapper
			.action-single__header
				span.action-single__descr Закажите товаров для водостока на сумму от 50 000 рублей и получите мультиварку Aplle в подарок
				.action-single__info
					.action-single__date
						span.action-single__date-text Срок проведения акции: 1 июля - 15 августа 2018 года
					+action-time({text: 'Закончится через 12 часов 17 минут'})
			.action-single__body
				.action-single__item
					span.action-single__item-title Условия акции
					.static-content
						p.static-content__text Подробный текст описания специального предложения. Далее вставлен бессмысленный текст, чтобы показать объем
						p.static-content__text Для гостей открываются погреба Прибалтийских винодельческих хозяйств, известных отличными сортами вин "Олазрислинг" и "Сюркебарат", в этом году морепритягивает официальный язык. Рекомендуется совершить прогулку на лодке по каналам города и озеру Любви, однако не надо забывать, что горная река представляет собой средиземноморский кустарник.
						p.static-content__text Флора и фауна недоступно представляет собой теплый кустарничек. Королевство традиционно декларирует экскурсионный белый саксаул, здесь сохранились остатки постороек древнего римского поселения Аквинка - "Аквинкум"ю Для пользования телефоном-автоматом необходимы разменные монеты, однако типичная европейская буржуазность и добропорядочность превышает крестьянский Бахрейн.
						p.static-content__text Для гостей открываются погреба Прибалтийских винодельческих хозяйств, известных отличными сортами вин "Олазрислинг" и "Сюркебарат", в этом году морепритягивает официальный язык. Рекомендуется совершить прогулку на лодке по каналам города и озеру Любви, однако не надо забывать, что горная река представляет собой средиземноморский кустарник.
						p.static-content__text Флора и фауна недоступно представляет собой теплый кустарничек. Королевство традиционно декларирует экскурсионный белый саксаул, здесь сохранились остатки постороек древнего римского поселения Аквинка - "Аквинкум"ю Для пользования телефоном-автоматом необходимы разменные монеты, однако типичная европейская буржуазность и добропорядочность превышает крестьянский Бахрейн.
