.product-reviews-stat {
	flex: 0 0 256px;
	border: 2px solid #ededed;
	border-radius: 4px;
	padding: 8px;
	max-width: 256px;
	background-color: #fff;

	&__title {
		display: block;
		margin-bottom: 8px;
		font-size: 18px;
		line-height: 1.44;
	}

	&__lines {
		margin-bottom: 16px;

		> * {
			margin: 8px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}

	&__line {
		display: flex;
		align-items: center;
		font-size: 14px;
		line-height: 18px;

		> * {
			flex: 0 0 auto;
			&:not(:last-child) { margin-right: 8px; }
		}
	}

	&__star {
		&::after {
			content: "\2605";
			color: $color-main-action;
		}
	}

	&__way {
		position: relative;
		flex: 1;
		height: 13px;
		background-color: #ededed;
	}

	&__way-current {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		background-color: $color-main-action;
	}

	@media screen and (max-width: $phone-size) {
		flex: 1;
		width: 100%;
		max-width: 100%;
	}
}
