section.s-advantages.s-bg-white
	.container
		.advantages
			+advantage('warranty', '30-дневная гарантия возврата денег', 'Поэтому вы можете делать покупки с уверенностью', 'Узнать о гарантии')
			+advantage('support', 'Специалисты по товарам на связи', 'Мы ответим на любые вопросы о  товарах в течение 10 минут', 'Получить консультацию')
			+advantage('sample', 'Бесплатные образцы', 'Некоторые товары вы можете изучить внимательнее перед покупкой')
