section.s-banner(style="background-image: url('https://source.unsplash.com/wX64_Gjbclg/1920x200')")
	.container
		.banner
			h1.title-page Продажа строительных материалов от производителя
			p.banner-text Текст о компании, который может пригодиться для первичного знакомства с посетителем сайта, а также для целей поискового продвижения
