section.s-banner(style="background-image: url('images/banner/banner.jpg')")
	.container
		.banner
			h1.title-page Продажа строительных материалов от производителя
			p.banner-text Текст о компании, который может пригодиться для первичного знакомства с посетителем сайта, а также для целей поискового продвижения
