section.s-discount.s-bg-white
	.container
		.discount
			.section-header
				h2.title-section Товары со скидкой
				.section-header__right
					a.section-header__link Все товары со скидкой
					span.section-header__count.text-count 123
			.product-wrapper
				include ../components/product
				include ../components/product
				include ../components/product
				include ../components/product
