section.s-popular-cat
	.container
		.popular-cat
			.popular-cat__header
				h2.title-section Популярные категории товаров
			.popular-cat__body
				.popular-cat__prev_btn.popular-cat__prev_btn--prev
				.popular-cat__prev_btn.popular-cat__prev_btn--next
				.js-categories-prev.popular-cat__prev
					+category-prev('Водосточные системы')
						+categoryPrevListItem('Комплекты водосточных труб', 23)
						+categoryPrevListItem('Водосточные трубы', 98)
						+categoryPrevListItem('Желоб водосточный', 98)
						+categoryPrevListItem('Воронка желоба выпускная', 98)
						+categoryPrevListItem('Все водосточные системы', 7)
					+category-prev('Кровля')
						+categoryPrevListItem('Металлочерепица', 23)
						+categoryPrevListItem('Элементы безопасной кровли', 38)
						+categoryPrevListItem('Лестницы', 98)
						+categoryPrevListItem('Мостики кровельные', 13)
						+categoryPrevListItem('Все водосточные системы', 7)
					+category-prev('Доборные элементы кровли')
						+categoryPrevListItem('Планка стыковочная', 98)
						+categoryPrevListItem('Планка ендовы нижняя', 98)
						+categoryPrevListItem('Планка ендовы вержняя', 98)
						+categoryPrevListItem('Планка угла наружного', 98)
						+categoryPrevListItem('Все водосточные системы', 7)
					+category-prev('Профнастил')
						+categoryPrevListItem('Весь профнастил', 18)
					+category-prev('Лист оцинкованный')
						+categoryPrevListItem('Металлочерепица', 23)
						+categoryPrevListItem('Элементы безопасной кровли', 38)
						+categoryPrevListItem('Лестницы', 98)
						+categoryPrevListItem('Мостики кровельные', 13)
						+categoryPrevListItem('Весь лист оцинкованный', 98)
					+category-prev('Штрипс')
						+categoryPrevListItem('Металлочерепица', 23)
						+categoryPrevListItem('Элементы безопасной кровли', 38)
						+categoryPrevListItem('Лестницы', 98)
						+categoryPrevListItem('Мостики кровельные', 13)
						+categoryPrevListItem('Весь штрипс', 98)
					+category-prev('Другой раздел')
						+categoryPrevListItem('Весь лист оцинкованный', 98)
					+category-prev('Другой раздел')
						+categoryPrevListItem('Весь лист оцинкованный', 98)
