section.s-promo.section
	.container
		.promo
			.section-header
				h2.title-section Акции и спецпредложения
				.section-header__right
					a.section-header__link Все спецпредложения
					span.section-header__count.text-count 123
			.promo-prevs
				+promoPrev('Купить листы оцинкованные', 'Специальное предложение', 'на листы оцинкованные')
				+promoPrev('Купить доборные элементы кровли', 'Распродажа', 'доборных элементов кровли')
				+promoPrev('Купить профнастил со скидкой', 'Скидки до 50%', 'на профнастил')
