section.section.s-top-sale
	.container
		.section-header
			h2.title-section Лидеры продаж
		.top-sales
			a.top-sale.top-sale__grid-a.top-sale--big(href="#")
				.top-sale__img-wrapper
					img.top-sale__img(src="https://source.unsplash.com/MYlCex1M7Ok/600x400" alt="Фото товара")
				span.top-sale__title Водосточные трубы
			a.top-sale.top-sale__grid-b(href="#")
				.top-sale__img-wrapper
					img.top-sale__img(src="https://source.unsplash.com/MYlCex1M7Ok/400x200" alt="Фото товара")
				span.top-sale__title Гладкий лист оцинкованый
			a.top-sale.top-sale__grid-c(href="#")
				.top-sale__img-wrapper
					img.top-sale__img(src="https://source.unsplash.com/MYlCex1M7Ok/400x200" alt="Фото товара")
				span.top-sale__title Подсистема вентилируемого фасада
			a.top-sale.top-sale__grid-d(href="#")
				.top-sale__img-wrapper
					img.top-sale__img(src="https://source.unsplash.com/MYlCex1M7Ok/400x200" alt="Фото товара")
				span.top-sale__title Планка стыковочная 30х30х2000 мм
			a.top-sale.top-sale__grid-e(href="#")
				.top-sale__img-wrapper
					img.top-sale__img(src="https://source.unsplash.com/MYlCex1M7Ok/600x400" alt="Фото товара")
				span.top-sale__title Планка стыковочная 30х30х2000 мм, толщина 0.4 мм, цвет графитовый серый
			a.top-sale.top-sale__grid-f.top-sale--big(href="#")
				.top-sale__img-wrapper
					img.top-sale__img(src="https://source.unsplash.com/MYlCex1M7Ok/400x200" alt="Фото товара")
				span.top-sale__title Гладкий лист оцинкованый
