mixin promoPrev(props)
	-
		var allMods = "";
		if(typeof(props.mods) !== "undefined" && props.mods)
			var modsList = props.mods.split(",");
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + " promo-prev--" + modsList[i].trim();
			}

	.promo-prev(class=allMods)
		.promo-prev__header(style="background-image: url('../images/promo-preview/images/prof.jpg')")
			+btn({
				tag: 'a',
				href: '#',
				text: props.link
			})
		.promo-prev__body
			a.promo-prev__text(href="#")
				span.promo-prev__descr= props.descr
				span.promo-prev__title= props.title
