mixin section(props)
	-
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props.mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' section--' + modsList[i].trim();
			}
		}
	if props.bg
		section(class='section' + allMods + ' ' + props.mainClass style="background-image: url('https://source.unsplash.com/MYlCex1M7Ok/1920x200')")
			.container
				block
	else
		section(class='section' + allMods + ' ' + props.mainClass)
			.container
				block

mixin section-header(text, count, mods)
	.section-header
		if ( typeof(count) !== 'undefined' && count )
			+title({
				mods: 'section',
				text: (text) ? text : null,
				count: 8341,
			}, 'h1')
		else if(mods === 'small')
			+title({
				mods: 'small-section',
				text: (text) ? text : null
			}, 'h2')
		else if(mods === 'status')
			+title({
				mods: 'section',
				text: (text) ? text : null
			}, 'h2')
			+my-order-status({
				text: 'Доставлен',
				mods: 'applied',
			})
		else
			+title({
				mods: 'section',
				text: (text) ? text : null
			}, 'h2')
		block

mixin section-header-testimonials(props)
	.section-header-testimonials
		+title({
			mods: 'small-section',
			text: (props.text) ? props.text : null
		}, 'h2')
		+rating-stars()
		a.section-header-testimonials__link(href="#") 25 отзывов
