.section {
	position: relative;
	padding: 40px 0;

	&-header {
		display: flex;
		align-items: center;
		margin-bottom: 24px;

		&__link {
			font-family: $font-family-semibold;
			font-weight: 600;
			text-decoration: underline;
			color: $color-link;
		}

		&-right {
			margin-left: auto;

			&.section-header-right--mobile {
				display: none;
				margin: 16px auto;
				text-align: center;

				.text-count { display: none; }

				@media screen and (max-width: $phone-size) { display: block; }
			}

			@media screen and (max-width: $phone-size) { display: none; }
		}
	}

	&--banner {
		color: #fff;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&--bg-white { background-color: #fff; }

	&--s-small { padding: 8px 0; }

	@media screen and (max-width: $tablet-size) { padding: 16px 0; }
}
