mixin section(props)
	-
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props.mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' section--' + modsList[i].trim();
			}
		}
	if props.bg
		section(class='section' + allMods + ' ' + props.mainClass style="background-image: url('https://source.unsplash.com/MYlCex1M7Ok/1920x200')")
			.container
				block
	else
		section(class='section' + allMods + ' ' + props.mainClass)
			.container
				block

mixin section-header(text, link, count, right)
	.section-header
		+title({
			mods: 'section',
			text: (text) ? text : null
		}, 'h2')
		block

mixin section-header-right(col, link, mods)
	-
		var allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			var modsList = mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' section-header-right--' + modsList[i].trim();
			}
		}
	.section-header-right(class=allMods)
		if (col !== '')
			a.section-header__link(href="#")= link
			span.section-header__count.text-count= count
		else
			span.js-section-header__text
