.section {
	position: relative;
	padding: 16px 0;

	&-header {
		display: flex;
		align-items: center;
		margin-bottom: 24px;

		&__link {
			font-family: $font-family-semibold;
			font-weight: 600;
			text-decoration: underline;
			color: $color-link;
		}
	}

	&--banner {
		color: #fff;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&--breadcrumbs {
		padding-top: 16px;
		+ section { padding-top: 8px; }
	}

	&--bg-white {
		.container { background-color: #fff; }
	}

	&--s-small { padding: 8px 0; }
}
