mixin footer-column-contacts(title)
	.footer-column
		.footer-column-contacts__block
			+footer-column-title(title, 'contacts')
			address.footer-column-contacts__address
				+icon('contacts', 'footer-column-contacts__icon')
				span.footer-column-contacts__location Офис
				p.footer-column-contacts__text 111033, Москва, ул.Золоторожский вал, д. 11, стр. 9
					a.footer-column-contacts__map(href="#") на карте
		.footer-column-contacts__block
			address.footer-column-contacts__address
				+icon('contacts', 'footer-column-contacts__icon')
				span.footer-column-contacts__location Производство и склад
				p.footer-column-contacts__text Московская обл., Ленинский р-н, г. Видное, Северная видновская промзона, ФГУП "Комплекс"
					a.footer-column-contacts__map(href="#") на карте
