mixin action-mark(props)
	-
		// список модификаторов
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props.mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' action-mark--' + modsList[i].trim();
			}
		}
	.action-mark(class= allMods)
		+icon(props.icon, 'action-mark__icon')
