.you-seen {
	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2px;

		button {
			display: block;
			border: 0;
			border-radius: 2px;
			padding: 0;
			width: 10px;
			height: 10px;
			text-indent: -9999px;
			background-color: $color-slider-dot-bg;
		}

		> * {
			&:not(:last-child) { margin-right: 8px; }
		}

		.slick-active {
			button { background-color: $color-main-action; }
		}
	}

	@media screen and (max-width: $tablet-size) {
		.slider__nav {
			&--prev { display: none; }
			&--next { display: none; }
		}
	}
}
