mixin you-seen()
	+section({
		mods: 'you-seen,bg-white',
		mainClass: 'you-seen'
	})
		+section-header('Вы смотрели')
			+page-counter({})
		+slider({
			mods: 'you-seen',
			type: 'seen',
			jsMod: 'js-slider--you-seen'
		})
			+product({
				link: '#',
				sale: '-25%',
				badge: '',
				name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
				count: '9 шт.',
				articul: 13562322,
				timeFor: 'от 2 до 3 дней',
				priceOld: '110 руб.',
				priceNow: '95 руб. за шт.',
				btnText: 'В корзину',
				mods: 'no-footer,seen'
			})
			+product({
				link: '#',
				sale: '-50%',
				badge: 'новый',
				name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
				count: '9 шт.',
				articul: 13562322,
				timeFor: 'от 2 до 3 дней',
				priceOld: '110 руб.',
				priceNow: '95 руб. за шт.',
				btnText: 'В корзину',
				mods: 'no-footer,seen'
			})
			+product({
				link: '#',
				sale: '-25%',
				badge: 'хит',
				name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
				count: '9 шт.',
				articul: 13562322,
				timeFor: 'от 2 до 3 дней',
				priceOld: '110 руб.',
				priceNow: '95 руб. за шт.',
				btnText: 'В корзину',
				mods: 'no-footer,seen'
			})
			+product({
				link: '#',
				sale: '-25%',
				badge: 'хит',
				name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
				count: '9 шт.',
				articul: 13562322,
				timeFor: 'от 2 до 3 дней',
				priceOld: '110 руб.',
				priceNow: '95 руб. за шт.',
				btnText: 'В корзину',
				mods: 'no-footer,seen'
			})
			+product({
				link: '#',
				sale: '-25%',
				badge: 'хит',
				name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
				count: '9 шт.',
				articul: 13562322,
				timeFor: 'от 2 до 3 дней',
				priceOld: '110 руб.',
				priceNow: '95 руб. за шт.',
				btnText: 'В корзину',
				mods: 'no-footer,seen'
			})
			+product({
				link: '#',
				sale: '-25%',
				badge: 'хит',
				name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
				count: '9 шт.',
				articul: 13562322,
				timeFor: 'от 2 до 3 дней',
				priceOld: '110 руб.',
				priceNow: '95 руб. за шт.',
				btnText: 'В корзину',
				mods: 'no-footer,seen'
			})
			+product({
				link: '#',
				sale: '-25%',
				badge: 'хит',
				name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
				count: '9 шт.',
				articul: 13562322,
				timeFor: 'от 2 до 3 дней',
				priceOld: '110 руб.',
				priceNow: '95 руб. за шт.',
				btnText: 'В корзину',
				mods: 'no-footer,seen'
			})
			+product({
				link: '#',
				sale: '-32%',
				badge: 'хит',
				name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
				count: '9 шт.',
				articul: 13562322,
				timeFor: 'от 2 до 3 дней',
				priceOld: '110 руб.',
				priceNow: '95 руб. за шт.',
				btnText: 'В корзину',
				mods: 'no-footer,seen'
			})
			+product({
				link: '#',
				sale: '-33%',
				badge: 'хит',
				name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
				count: '9 шт.',
				articul: 13562322,
				timeFor: 'от 2 до 3 дней',
				priceOld: '110 руб.',
				priceNow: '95 руб. за шт.',
				btnText: 'В корзину',
				mods: 'no-footer,seen'
			})
			+product({
				link: '#',
				sale: '-35%',
				badge: 'хит',
				name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
				count: '9 шт.',
				articul: 13562322,
				timeFor: 'от 2 до 3 дней',
				priceOld: '110 руб.',
				priceNow: '95 руб. за шт.',
				btnText: 'В корзину',
				mods: 'no-footer,seen'
			})
