mixin you-seen()
	+section({
		mods: 'you-seen,bg-white',
		mainClass: 'you-seen'
	})
		+section-header('Вы смотрели', 'Страница 1 из 7', '',  true)
		+slider({
			mods: 'you-seen',
			jsMod: 'js-slider--you-seen'
		})
			block
