.title {
	&--page {
		font-family: $font-family-semibold;
		font-size: 40px;
		line-height: 48px;

		@media screen and (max-width: $phone-size) { font-size: 30px; }
	}

	&--section {
		margin: 8px 0;
		font-family: $font-family-semibold;
		font-size: 40px;
		line-height: 48px;

		@media screen and (max-width: $tablet-size) { margin: 8px 0 16px 0; }

		@media screen and (max-width: $phone-size) { font-size: 30px; }
	}
}
