mixin title(props, tag)
	-
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props.mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' title--' + modsList[i].trim();
			}
		}
	#{tag}(class='title' + allMods)= props.text
		if (typeof(props.count) !== 'undefined' && props.count)
			span.text-count.text-count--page= props.count
