
mixin advantage(props)
	.advantage
		.advantage__aside
			+icon(props.icon, 'advantage__icon')
		.advantage__body
			span.advantage__title= props.title
			p.advantage__text= props.text
			if(props.link)
				if (props.modal)
					a.advantage__link.js-modal-link(href= props.href)= props.link
				else
					a.advantage__link(href= props.href)= props.link
