mixin advantage(icon, title, text, href, link, modal)
	.advantage
		.advantage__aside
			+icon(icon, 'advantage__icon')
		.advantage__body
			span.advantage__title= title
			p.advantage__text= text
			if(link)
				if (modal)
					a.advantage__link.js-modal-link(href= href)= link
				else
					a.advantage__link(href= href)= link
