mixin category-prev(img, name, mods)
	-
		// список модификаторов
		var allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			var modsList = mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' category-prev--' + modsList[i].trim();
			}
		}

	.category-prev(class=allMods)
		if (img === true && img)
			.category-prev__img(style="background-image: url('../images/category-preview/images/pop-cat-1.png')")
		.category-prev__body
			.category-prev__title
				span.category-prev__title-name= name
				span.category-prev__count.text-count 999
			ul.category-prev__list
				block

mixin categoryPrevListItem(text, count)
	li.category-prev__item
		a.category-prev__link(href="#")= text
		span.category-prev__count.text-count= count
