mixin catalog-list__item(title, count)
	li.catalog-list__item.js-catalog-list__item
		.catalog-list__label
			span.catalog-list__label-text= title
			if (count)
				span.text-count.catalog-list__count= count
		block

mixin catalog-list(mods)
	-
		var allMods = "";
		if(typeof(mods) !== "undefined" && mods)
			var modsList = mods.split(",");
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + " catalog-list--" + modsList[i].trim();
			}
	ul.catalog-list(class=allMods)
		if (mods === 'catalog-page')
			+catalog-list__item('Кровля', 1234)
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Рулонная сталь', 1234)
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Профнастиль', 1234)
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Листовый прокат', 1234)
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Фасад', 1234)
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Кровля', 1234)
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Рулонная сталь', 1234)
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Профнастиль', 1234)
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Листовый прокат', 1234)
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Фасад', 1234)
				+catalog-subnav('Прямоугольный водосток', 9)
		else
			+catalog-list__item('Рулонная сталь')
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Профнастил')
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Листовой прокат', 23)
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Фасад')
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Распродажа')
				+catalog-subnav('Рулонная сталь', 9)
			+catalog-list__item('Специальное предложение')
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Фасад')
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Распродажа')
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Специальное предложение')
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Фасад')
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Распродажа')
				+catalog-subnav('Прямоугольный водосток', 9)
			+catalog-list__item('Специальное предложение')
				+catalog-subnav('Прямоугольный водосток', 9)
