.catalog-list {
	position: relative;
	width: 256px;
	color: $color-base-text;
	background-color: #fff;

	&__count { opacity: 0; }

	&__label-text {
		font-family: $font-family-semibold;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;

		&::after {
			content: "";
			position: absolute;
			right: 16px;
			top: 16px;
			border-style: solid;
			border-width: 5px 0 5px 5px;
			border-color: transparent transparent transparent $color-base-text;
			width: 0;
			height: 0;

			@media screen and (max-width: $phone-size) { transform: rotate(90deg); }
		}

		@media screen and (max-width: $phone-size) {
			font-size: 16px;
			line-height: 1.63;
		}
	}

	&__label {
		position: relative;
		display: flex;
		align-items: center;
		padding: 8px 24px 8px 16px;
		cursor: pointer;
		transition: background-color linear 0.3s;

		> * {
			&:not(:last-child) { margin-right: 8px; }
		}

		&:hover,
		&:focus {
			background-color: $color-main-action;

			.catalog-list__count {
				opacity: 1;
				transition: opacity linear 0.3s;
			}
		}

		@media screen and (max-width: $phone-size) { border-bottom: 1px solid rgba(159, 197, 178, 0.5); }
	}

	&__item {
		&:hover,
		&:focus {
			.catalog-subnav {
				@media screen and (min-width: $phone-size) { display: block; }
			}
		}

		&:first-child {
			overflow: hidden;
			border-radius: 4px 4px 0 0;

			@media screen and (max-width: $phone-size) { border-radius: 0; }
		}

		&:last-child {
			overflow: hidden;
			border-radius: 0 0 4px 4px;

			@media screen and (max-width: $phone-size) { border-radius: 0; }
		}

		&--active {
			.catalog-subnav {
				@media screen and (max-width: $phone-size) { display: block; }
			}

			.catalog-list__label-text {
				&::after {
					@media screen and (max-width: $phone-size) { transform: rotate(0deg); }
				}
			}
		}

		@media screen and (max-width: $phone-size) { background-color: $color-main-action; }
	}

	&--catalog-page {
		border: 1px solid $color-main-action;
		border-radius: 4px;

		.catalog-list__item {
			background-color: #fff;

			&--active {
				.catalog-list__label {
					border-bottom: 2px solid $color-main-action;
				}

				.catalog-list__label-text {
					color: $color-link;

					&::after { border-color: transparent transparent transparent $color-link; }
				}
			}
		}

		.catalog-list__label {
			border-bottom: 2px solid #dedede;
			padding: 2px 24px 2px 16px;
		}

		.catalog-list__label-text {
			padding: 8px 0;
			font-size: 18px;

			&::after { top: 20px; }
		}
		.catalog-list__count { opacity: 1; }

		.catalog-subnav__header {
			&--all {
				display: block;
				font-size: 16px;
				line-height: 1.86;
			}

			&--active {
				&::after {
					border-color: transparent transparent transparent $color-link;
					transform: rotate(0deg);
				}
			}
		}
		.catalog-subnav__item { padding: 2px 0; }
		.catalog-subnav__link { color: $color-link; }
		.catalog-subnav__text { white-space: nowrap; }
	}

	@media screen and (max-width: $phone-size) { width: 100%; }
}
