.top-sale {
	display: block;
	margin-bottom: 16px;
	border: 2px solid transparent;
	border-radius: 4px;
	padding: 16px;
	height: 240px;
	background-color: #fff;
	transition: border-color linear 0.3s;

	&__img-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 8px;
		height: 136px;

		@media screen and (max-width: $phone-size) {
			height: auto;
			margin-bottom: 0;
		}
	}

	&__img {
		max-width: 100%;
		max-height: 100%;

		@media screen and (max-width: $phone-size) { max-height: 80px; }
	}

	&__title {
		font-family: $font-family-boldest;
		font-weight: bold;
		line-height: 24px;
	}

	&__grid {
		&-first { grid-area: first; }

		&-second { grid-area: second; }

		&-third { grid-area: third; }

		&-fourth {
			grid-area: fourth;

			@media screen and (max-width: $phone-size) { grid-area: sixes; }
		}

		&-fives { grid-area: fives; }

		&-sixes {
			grid-area: sixes;

			@media screen and (max-width: $phone-size) { grid-area: fourth; }
		}
	}

	&:hover,
	&:focus { border-color: $color-main-action; }

	&.top-sale--big {
		height: 400px;

		.top-sale {

			&__img-wrapper { height: 280px; }
			&__img { max-height: 280px; }
			&__title { font-size: 22px; }
		}

		@media screen and (max-width: $tablet-size) {
			padding: 8px;
			height: 270px;

			.top-sale {
				&__img-wrapper { height: 170px; }
				&__img { max-height: 100%; }
				&__title { font-size: 20px; }
			}
		}

		@media screen and (max-width: $phone-size) {
			display: block;
			height: auto;

			.top-sale {
				&__img-wrapper { height: 150px; }
				&__title { font-size: 18px; }
			}
		}
	}

	@media screen and (max-width: $tablet-size) { padding: 8px; }

	@media screen and (max-width: $phone-size) {
		display: flex;
		align-items: center;
		margin-bottom: 8px;
		height: auto;
	}
}
