mixin category-prev(name)
	.category-prev
		.category-prev__img(style="background-image: url('https://source.unsplash.com/MYlCex1M7Ok/255x180')")
		.category-prev__body
			.category-prev__title
				span.category-prev__title-name= name
				span.category-prev__count.text-count 12345
			ul.category-prev__list
				block
