mixin checkbox(props)
	.input-checkbox
		if(props.tooltip)
			+tooltip({
				text: 'RAL 1000',
				color: props.color,
				descr: props.descr,
				mods: 'color'
			})
		label.input-checkbox__label
			input.input-checkbox__input(type="checkbox")
			span.input-checkbox__custom
			.input-checkbox__body
				if (props.color)
					span.input-checkbox__text= props.text
					.input-checkbox__color(style =`background-color: ${props.color}`)
				else
					span.input-checkbox__text= props.text
		if (props.count === true)
			span.filter__count.text-count 456
