include ../blocks/button/button
include ../blocks/input-text/input-text
include ../blocks/header/header
include ../blocks/location/location
include ../blocks/location-question/location-question
include ../blocks/location-select/location-select
include ../blocks/main-nav/main-nav
include ../blocks/user-nav/user-nav
include ../blocks/logo/logo
include ../blocks/order-callback/callback
include ../blocks/search/search
include ../blocks/search-result/search-result
include ../blocks/catalog-nav/catalog-nav
include ../blocks/catalog-list/catalog-list
include ../blocks/catalog-subnav/catalog-subnav
include ../blocks/sandwich/sandwich
include ../blocks/busket/busket
include ../blocks/section/section
include ../blocks/banner/banner
include ../blocks/title/title
include ../blocks/categories-all/categories-all
include ../blocks/sub-categories/sub-categories
include ../blocks/popular-categories/popular-categories
include ../blocks/popular-categories-preview/popular-cat-prev
include ../blocks/category-preview/category-prev
include ../blocks/advantages/advantages
include ../blocks/advantage/advantage
include ../blocks/promo/promo
include ../blocks/promo-preview/promo-preview
include ../blocks/discount/discount
include ../blocks/product/product
include ../blocks/top-sales/top-sales
include ../blocks/top-sale/top-sale
include ../blocks/you-seen/you-seen
include ../blocks/slider/slider
include ../blocks/questions/questions
include ../blocks/question-social/question-social
include ../blocks/footer/footer
include ../blocks/copyright/copyright
include ../blocks/footer-column-nav/footer-column-nav
include ../blocks/footer-column-pay/footer-column-pay
include ../blocks/footer-column-contacts/footer-column-contacts
include ../blocks/footer-column-title/footer-column-title

include ../blocks/form/form
include ../blocks/fieldset/fieldset
include ../blocks/form-footer/form-footer
include ../blocks/form-success/form-success
include ../blocks/input-file/input-file
include ../blocks/modal/modal
include ../blocks/fast-review/fast-review
include ../blocks/close/close
include ../blocks/mobile-nav/mobile-nav

include ../blocks/tooltip/tooltip
include ../blocks/tooltip-map/tooltip-map

include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/breadcrumbs-nav/breadcrumbs-nav
include ../blocks/overlay/overlay
include ../blocks/tags/tags
include ../blocks/sort-line/sort
include ../blocks/sort-item/sort-item
include ../blocks/page-counter/page-counter
include ../blocks/pagination/pagination
include ../blocks/often-search/often-search
include ../blocks/product-counter/product-counter
include ../blocks/filter/filter
include ../blocks/filter-item/filter-item
include ../blocks/filter-slider/filter-slider
include ../blocks/input-checkbox/input-checkbox
include ../blocks/color-choose/color-choose
include ../blocks/tabs/tabs
include ../blocks/sitemap/sitemap
include ../blocks/actions/actions
include ../blocks/action-time/action-time
include ../blocks/action-mark/action-mark
include ../blocks/action-prev/action-prev
include ../blocks/action-single/action-single
include ../blocks/action-goods/action-goods
