include ../blocks/button/button
include ../blocks/input-text/input-text
include ../blocks/header/header
include ../blocks/location/location
include ../blocks/main-nav/main-nav
include ../blocks/user-nav/user-nav
include ../blocks/logo/logo
include ../blocks/order-callback/order-callback
include ../blocks/search/search
include ../blocks/catalog-nav/catalog-nav
include ../blocks/sandwich/sandwich
include ../blocks/busket/busket
include ../blocks/section/section
include ../blocks/banner/banner
include ../blocks/title/title
include ../blocks/popular-categories/popular-categories
include ../blocks/popular-categories-preview/popular-cat-prev
include ../blocks/category-preview/category-prev
include ../blocks/advantages/advantages
include ../blocks/advantage/advantage
include ../blocks/promo/promo
include ../blocks/promo-preview/promo-preview
include ../blocks/discount/discount
include ../blocks/product/product
include ../blocks/top-sales/top-sales
include ../blocks/top-sale/top-sale
include ../blocks/you-seen/you-seen
include ../blocks/slider/slider
