.tooltip {
	position: absolute;
	left: 0;
	right: 0;
	top: 25px;
	border-radius: 4px;
	padding: 8px 8px 8px 32px;
	background-color: #fff;

	&::before {
		content: "";
		position: absolute;
		left: 15px;
		top: -5px;
		border-style: solid;
		border-width: 0 5px 5px 5px;
		border-color: transparent transparent #fff transparent;
		width: 0;
		height: 0;
	}

	&__icon {
		position: absolute;
		left: 8px;
		top: 15px;
		width: 16px;
		height: 16px;
		fill: #1fa349;
	}

	&__text {
		font-size: 12px;
		color: $color-base-text;
	}

	&--map {
		left: -217%;
		right: auto;
		top: auto;
		bottom: 30%;
		z-index: 3;
		padding: 0;

		&::before {
			left: auto;
			right: 16px;
			top: auto;
			bottom: -12px;
			border-width: 12px 12px 0 12px;
			border-color: #fff transparent transparent transparent;

			@media screen and (max-width: $tablet-size) { display: none; }
		}

		&-office,
		&-stock {
			display: none;
		}

		@media screen and (max-width: $tablet-size) {
			position: fixed;
			left: auto;
			right: 10%;
		}

		@media screen and (max-width: $phone-size) {
			left: 5%;
			right: 5%;
			bottom: auto;
		}
	}

	@media screen and (max-width: $phone-size) { top: 5%; }
}
