mixin search(ph, icon)
	.search
		+form('search')
			+field-text({
				mods: 'search,size-small',
				id: 'search',
				attrs: {
					type: 'search',
					name: 's',
					placeholder: ph
				}
				})
		+icon(icon,'search-icon')
