.search {
	position: relative;
	display: flex;
	align-items: center;

	.input-field {
		&__input {
			flex: 0 0 220px;
			width: 220px;
		}

		&--search {
			.input-field__input { font-size: 16px; }

			@media screen and (max-width: $tablet-size) { display: none; }
		}
	}

	.search-icon {
		width: 22px;
		height: 22px;
		fill: #fff;

		@media screen and (max-width: $phone-size) {
			width: 26px;
			height: 26px;
		}
	}

	.search-result {
		position: absolute;
		left: 0;
		right: 0;
		top: 42px;
		z-index: 10;
		overflow-y: scroll;
		width: 460px;

		@media screen and (max-width: $tablet-size) {
			position: fixed;
			top: 113px;
			width: 100%;
			height: 100%;
		}

		@media screen and (max-width: $phone-size) { top: 54px; }
	}

	.btn { background-color: transparent; }
}
