.search {
	display: flex;
	align-items: center;

	.input-field {
		&__input {
			flex: 0 0 220px;
			width: 220px;
		}

		&--search {
			@media screen and (max-width: $tablet-size) {
				display: none;
			}
		}
	}

	.search-icon {
		width: 22px;
		height: 22px;
		fill: #fff;
	}

	> * {
		&:not(:last-child) { margin-right: 8px; }
	}

	@media screen and (max-width: $tablet-size) {
		cursor: pointer;
	}
}
