mixin search(ph, icon)
	.search
		+form('search')
			+field-text({
				mods: 'search,size-small',
				id: 'search',
				attrs: {
					type: 'search',
					name: 's',
					placeholder: ph
				}
				})
		+search-result({
			text: 'Показать все результаты',
			count: 768
		})
		+btn({
				tag: 'button',
				icon: icon,
				iconClass: 'search-icon',
				mods: 'size-m2,search'
			})
