mixin footer()
	footer.footer
		.footer__top
			.container
				+order-callback({
					descr: 'Звоните круглосуточно',
					tel: '+7 490 456-34-34',
					link: '#',
					linkText: 'Заказать звонок',
					position: 'footer'
				})
		.footer__main
			.container
				.footer__columns
					.footer__nav
						+footer-column-nav('О нас',[
							{link: '#', text: 'Оплата и доставка'},
							{link: '#', text: 'Гарантия'},
							{link: '#', text: 'Услуги по обработке металла'},
							{link: '#', text: 'Компания'},
							{link: '#', text: 'Контакты', descr: 'Связь с директором'}
						])
						+footer-column-nav('Каталог',[
							{link: '#', text: 'Все для кровли'},
							{link: '#', text: 'Фасад'},
							{link: '#', text: 'Профнастил'},
							{link: '#', text: 'Листовой прокат'},
							{link: '#', text: 'Рулонная сталь'}
						])
					+footer-column-pay({
						title: 'Принимаем к оплате',
						href: '#',
						link: 'Оплата заказа онлайн',
						titleBottom: 'Акции и спецпредложения'
					})
					+footer-column-contacts('Контакты')
		.footer__bottom
			.container
				+copyright('#', '#')
	+modal({
		id: 'popup-consultation',
		title: 'Получить консультацию',
		success: true,
		successText: 'Мы Вам перезвоним',
		long: true,
		mods: 'consult'
	})
		+form('consultation')
			.form__body
				+fieldset('Контактный телефон')
					+field-text({
						mods: 'width-s,require',
						id: 'consult-phone1',
						labelText: "Контактный телефон",
						attrs: {
							type: 'tel',
							name: 'phone',
							placeholder: "+7(999)999-9999"
						}
					})
				+fieldset('Вопрос или комментарий')
					+field-text({
						mods: 'textarea',
						id: 'consult-textarea',
						labelText: "Вопрос или кооментарий",
						placeholder: "Здравствуйте, меня интересует...",
						attrs: {
							type: 'textarea',
							rows: 10,
							cols: 5
						}
					})
				+fieldset('Прикрепите файл')
					+field-file({
						icon: 'paper-holder'
					})
			+form-footer('#', 'Получить консультацию', true)
	+modal({
		id: 'popup-questions',
		title: 'Что можно улучшить на этой странице?',
		success: true,
		successText: 'Что можно улучшить на этой странице',
		mods: 'questions'
	})
		+form('questions')
			.form__body
				+fieldset('Вопрос или комментарий')
					+field-text({
						mods: 'textarea,require',
						id: 'questions-ask',
						labelText: "Вопрос или кооментарий",
						placeholder: "Здравствуйте, на этой странице можно...",
						attrs: {
							type: 'textarea',
							name: 'textarea',
							rows: 10,
							cols: 5
						}
					})
				.form__columns
					.form__column
						+fieldset('Электронная почта')
							+field-text({
								mods: 'width-m',
								id: 'questions-mail',
								labelText: "Электронная почта",
								attrs: {
									type: 'email',
									name: 'mail',
									placeholder: "Введите свой email"
								}
							})
						+fieldset('Контактный телефон')
							+field-text({
								mods: 'width-m,require',
								id: 'questions-phone',
								labelText: "Контактный телефон",
								attrs: {
									type: 'tel',
									name: 'phone',
									placeholder: "+7(999)99-9999"
								}
							})
					.form__column.form__column--text
						span.form-line__info Мы быстрее исправим ошибку , если сможем связаться с вами для уточнения информации
			+form-footer('#', 'Предложить улучшение')
	+modal({
		id: 'popup-login',
		title: 'Войти в личный кабинет',
		success: false,
		mods: 'login'
	})
		+form('login')
			.form__body
				.form__columns
					.form__column
						+fieldset('Электронная почта')
							+field-text({
								mods: 'width-m,require',
								id: 'login-mail',
								labelText: "Электронная почта",
								attrs: {
									type: 'email',
									name: 'mail',
									placeholder: "Введите свой email"
								}
							})
						+fieldset('Пароль')
							+field-text({
								mods: 'width-m,require,pass',
								id: 'login-pass',
								labelText: "Пароль",
								link: true,
								attrs: {
									type: 'password',
									name: 'password',
									autocomplete: 'off',
									placeholder: "Введите пароль"
								}
							})
					.form__column.form__column--text
						.unregister
							span.unregister__text Нет личного кабинета?
							a.unregister__link.js-modal-link(href="#popup-registration") Зарегистрироваться
							span.unregister__info Зарегистрированные пользователи получают скидку 3% на весь ассортимент
			+form-footer('#', 'Войти')
	+modal({
		id: 'popup-registration',
		title: 'Регистрация',
		success: false,
		mods: 'registration'
	})
		+form('registration')
			.form__body
				.form__columns
					.form__column
						+fieldset('Электронная почта')
							+field-text({
								mods: 'width-m,require',
								id: 'registration-mail',
								labelText: "Электронная почта",
								attrs: {
									type: 'email',
									name: 'mail',
									placeholder: "Введите свой email"
								}
							})
						+fieldset('Пароль')
							+field-text({
								mods: 'width-m,require',
								id: 'registration-pass',
								labelText: "Пароль",
								attrs: {
									id: 'pass-validate',
									type: 'password',
									name: 'password',
									autocomplete: 'off',
									placeholder: "Введите пароль"
								}
							})
						+fieldset('Требования к паролю')
							.form__requires
								span.form__requires__name Укажите сильный пароль:
								ul.form__requires__list
									li.form__requires__item Длина не менее 8 символов
									li.form__requires__item Включает буквы и цифры
									
						+fieldset('Имя и фамилия')
							+field-text({
								mods: 'width-m,require',
								id: 'registration-name',
								labelText: "Имя и фамилия",
								attrs: {
									type: 'text',
									name: 'fio',
									placeholder: "Ваше имя и фамилия"
								}
							})
					.form__column.form__column--text
						.unregister
							span.unregister__text Уже зарегистрованы?
							a.unregister__link.js-modal-link(href="#popup-login") Вход в личный кабинет
			+form-footer('#', 'Зарегистрироваться', true)
