.contacts-callback {
	.fieldset__inner {
		> * {
			margin: 24px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}

	&__wrapper {
		max-width: 504px;

		> * {
			margin: 16px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}

	.form {
		@media screen and (max-width: $phone-size) {
			padding: 8px;
			background-color: inherit;
		}
	}

	.is-engine-gecko & {
		.input-field { width: 400px; }
	}
}
