mixin promoPrev(link, descr, title)
	.promo-prev
		.promo-prev__header(style="background-image: url('https://source.unsplash.com/MYlCex1M7Ok/1920x200')")
			a.btn(href="#")= link
		.promo-prev__body
			.promo-prev__text
				span.promo-prev__descr= descr
				span.promo-prev__title= title
