mixin sub-categories()
	+section({
		mods: 'subcategories',
		mainClass: 'sub-categories'
	})
		+section-header('Доборные элементы кровли', '2341')
		.sub-categories__wrapper
			aside.sub-categories__aside
				+tabs()
					.tabs__content
						.tab.tab--category
							+category-prev(false, 'Категории', 'exp')
								+categoryPrevListItem('Планка стыковочная', 23)
								+categoryPrevListItem('Планка ендовы нижняя', 98)
								+categoryPrevListItem('Планка ендовы верхняя', 98)
								+categoryPrevListItem('Планка угла наружного', 98)
								+categoryPrevListItem('Планка угла внутренного', 98)
								+categoryPrevListItem('Планка угла наружного', 98)
						.tab.tab--filter
							+filter()
						.tab.tab--often
							+category-prev(false, 'Категории', 'exp,mobile-only')
								+categoryPrevListItem('Планка стыковочная', 23)
								+categoryPrevListItem('Планка ендовы нижняя', 98)
								+categoryPrevListItem('Планка ендовы верхняя', 98)
								+categoryPrevListItem('Планка угла наружного', 98)
								+categoryPrevListItem('Планка угла внутренного', 98)
								+categoryPrevListItem('Планка стыковочная', 23)
								+categoryPrevListItem('Планка ендовы нижняя', 98)
								+categoryPrevListItem('Планка ендовы верхняя', 98)
								+categoryPrevListItem('Планка угла наружного', 98)
								+categoryPrevListItem('Планка угла внутренного', 98)
			main.sub-categories__main
				+tags({title: 'Часто ищут'})
					.tag
						span.tag__text Разжелобок из <br> стали
						span.tag__count.text-count 123
					.tag
						span.tag__text Планка стыковочная <br> 0,4 мм
						span.tag__count.text-count 123
					.tag
						span.tag__text Планка угла <br> наружного
						span.tag__count.text-count 123
					.tag
						span.tag__text Еще один <br> запрос
						span.tag__count.text-count 123
					.tag
						span.tag__text Еще один <br> запрос
						span.tag__count.text-count 123
					.tag
						span.tag__text Разжелобок из <br> стали
						span.tag__count.text-count 123
					.tag
						span.tag__text Планка стыковочная <br> 0,4 мм
						span.tag__count.text-count 123
					.tag
						span.tag__text Планка угла <br> наружного
						span.tag__count.text-count 123
					.tag
						span.tag__text Еще один <br> запрос
						span.tag__count.text-count 123
					.tag
						span.tag__text Еще один <br> запрос
						span.tag__count.text-count 123
					.tag
						span.tag__text Разжелобок из <br> стали
						span.tag__count.text-count 123
					.tag
						span.tag__text Планка стыковочная <br> 0,4 мм
						span.tag__count.text-count 123
					.tag
						span.tag__text Планка угла <br> наружного
						span.tag__count.text-count 123
					.tag
						span.tag__text Еще один <br> запрос
						span.tag__count.text-count 123
					.tag
						span.tag__text Еще один <br> запрос
						span.tag__count.text-count 123
					.tag
						span.tag__text Еще один <br> запрос
						span.tag__count.text-count 123
				.sub-categories__status
					+sort()
						+page-counter({
							str: true,
						})
				.sub-categories__products
					+product({
						link: '#',
						sale: '-25%',
						badge: '',
						name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
						count: '9 шт.',
						articul: 13562322,
						timeFor: 'от 2 до 3 дней',
						priceOld: '110 руб.',
						priceNow: '95 руб. за шт.',
						btnText: 'В корзину',
						counter: true,
						mods: 'sub-categories'
					})
					+product({
						link: '#',
						sale: '-25%',
						badge: '',
						name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
						count: '9 шт.',
						articul: 13562322,
						timeFor: 'от 2 до 3 дней',
						priceOld: '110 руб.',
						priceNow: '95 руб. за шт.',
						btnText: 'В корзину',
						counter: true,
						mods: 'sub-categories'
					})
					+product({
						link: '#',
						sale: '-25%',
						badge: '',
						name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
						count: '9 шт.',
						articul: 13562322,
						timeFor: 'от 2 до 3 дней',
						priceOld: '110 руб.',
						priceNow: '95 руб. за шт.',
						btnText: 'В корзину',
						counter: true,
						mods: 'sub-categories'
					})
					+product({
						link: '#',
						sale: '-25%',
						badge: '',
						name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
						count: '9 шт.',
						articul: 13562322,
						timeFor: 'от 2 до 3 дней',
						priceOld: '110 руб.',
						priceNow: '95 руб. за шт.',
						btnText: 'В корзину',
						counter: true,
						mods: 'sub-categories'
					})
					+product({
						link: '#',
						sale: '-25%',
						badge: '',
						name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
						count: '9 шт.',
						articul: 13562322,
						timeFor: 'от 2 до 3 дней',
						priceOld: '110 руб.',
						priceNow: '95 руб. за шт.',
						btnText: 'В корзину',
						counter: true,
						mods: 'sub-categories'
					})
					+product({
						link: '#',
						sale: '-25%',
						badge: '',
						name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
						count: '9 шт.',
						articul: 13562322,
						timeFor: 'от 2 до 3 дней',
						priceOld: '110 руб.',
						priceNow: '95 руб. за шт.',
						btnText: 'В корзину',
						counter: true,
						mods: 'sub-categories'
					})
					+product({
						link: '#',
						sale: '-25%',
						badge: '',
						name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
						count: '9 шт.',
						articul: 13562322,
						timeFor: 'от 2 до 3 дней',
						priceOld: '110 руб.',
						priceNow: '95 руб. за шт.',
						btnText: 'В корзину',
						counter: true,
						mods: 'sub-categories'
					})
					+product({
						link: '#',
						sale: '-25%',
						badge: '',
						name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
						count: '9 шт.',
						articul: 13562322,
						timeFor: 'от 2 до 3 дней',
						priceOld: '110 руб.',
						priceNow: '95 руб. за шт.',
						btnText: 'В корзину',
						counter: true,
						mods: 'sub-categories'
					})
					+product({
						link: '#',
						sale: '-25%',
						badge: '',
						name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
						count: '9 шт.',
						articul: 13562322,
						timeFor: 'от 2 до 3 дней',
						priceOld: '110 руб.',
						priceNow: '95 руб. за шт.',
						btnText: 'В корзину',
						counter: true,
						mods: 'sub-categories'
					})
				+pagination({
					mods: ''
				})
					+pagination-item({
						text: '1',
						href: 'href',
						active: true,
						mods: ''
					})
					+pagination-item({
						text: '2',
						href: 'href',
						mods: ''
					})
					+pagination-item({
						text: '3',
						href: 'href',
						mods: ''
					})
					+pagination-item({
						text: '4',
						href: 'href',
						mods: ''
					})
					+pagination-item({
						text: '5',
						href: 'href',
						mods: ''
					})
					+pagination-item({
						text: '...',
						href: 'href',
						mods: ''
					})
					+pagination-item({
						text: '+',
						href: 'href',
						mods: 'plus'
					})
