.product-colors {
	display: flex;
	border-radius: 4px;

	&__item {
		position: relative;
		display: flex;
		flex: 1;
		flex-direction: column;
		padding: 8px 8px 8px 40px;
		font-size: 12px;
		cursor: pointer;

		&--all {
			align-items: center;
			flex-direction: row;
			margin-left: 8px;
			padding: 0;
		}

		&--active {
			box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
			background-color: #ededed;
		}
	}

	&__item-prev {
		position: absolute;
		left: 10px;
		top: 10px;
		width: 24px;
		height: 24px;
	}

	&__item-price { color: $color-text-info; }
	&__item-code { white-space: nowrap; }

	&__item-link {
		white-space: nowrap;
		text-decoration: underline;
		color: $color-link;
	}
}
