mixin breadcrumbs-nav()
	ul.breadcrumbs-nav.breadcrumbs__nav
		li.breadcrumbs-nav__item
			a.breadcrumbs-nav__link(href="#")
				span.breadcrumbs-nav__text Рулонная сталь
				span.text-count 23
		li.breadcrumbs-nav__item
			a.breadcrumbs-nav__link(href="#")
				span.breadcrumbs-nav__text Профнастил
				span.text-count 23
		li.breadcrumbs-nav__item
			a.breadcrumbs-nav__link(href="#")
				span.breadcrumbs-nav__text Листовой прокат
				span.text-count 23
		li.breadcrumbs-nav__item
			a.breadcrumbs-nav__link(href="#")
				span.breadcrumbs-nav__text Фасад
				span.text-count 23
		li.breadcrumbs-nav__item
			a.breadcrumbs-nav__link(href="#")
				span.breadcrumbs-nav__text Распродажа
				span.text-count 23
		li.breadcrumbs-nav__item
			a.breadcrumbs-nav__link(href="#")
				span.breadcrumbs-nav__text Специальные предложения
				span.text-count 23
