.nav-v {
	display: flex;
	align-items: flex-start;

	.form {
		> * {
			margin: 48px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }

			@media screen and (max-width: $phone-size) { margin: 24px 0; }
		}

		@media screen and (max-width: $tablet-size) { padding: 16px 32px; }

		@media screen and (max-width: $phone-size) { padding: 16px; }
	}

	.input-field,
	.field-select,
	.btn {
		@media screen and (max-width: $tablet-size) { max-width: 100%; }
	}

	.fieldset {
		margin-bottom: 32px;

		&__inner {
			> * {
				&:not(:last-child) {
					margin-right: 16px;
					margin-bottom: 16px;

					@media screen and (max-width: $tablet-size) { margin-right: 0; }
				}
			}

			&:last-child {
				margin-right: 0;
				margin-bottom: 0;

				@media screen and (max-width: $tablet-size) { margin-bottom: 16px; }
			}
		}

		&--flex {
			.fieldset__inner {
				justify-content: flex-start;

				@media screen and (max-width: $tablet-size) { display: block; }
			}
		}
	}

	.form__requires {
		@media screen and (max-width: $tablet-size) {
			margin: 8px 0;
		}
	}

	&__wrapper {
		flex: 0 0 255px;
		width: 255px;

		@media screen and (max-width: $tablet-size) {
			flex: 0 0 225px;
			width: 225px;
		}

		@media screen and (max-width: $phone-size) {
			flex: 0 0 100%;
			width: 100%;
		}
	}

	&__list {
		position: relative;
		background-color: #fff;

		> * {
			&:first-child { border-radius: 4px 4px 0 0; }
			&:last-child { border-radius: 0 0 4px 4px; }
		}

		&--active {
			.nav-v__item { display: block; }

			@media screen and (max-width: $phone-size) {
				&::before {
					transform: rotate(180deg);
					transition: transform linear 0.3s;
				}
			}
		}

		@media screen and (max-width: $phone-size) {
			&::before {
				content: "";
				position: absolute;
				right: 15px;
				top: 26px;
				border-style: solid;
				border-width: 5px 5px 0 5px;
				border-color: #000 transparent transparent transparent;
				width: 0;
				height: 0;
				transition: transform linear 0.3s;
			}
		}
	}

	&__item {
		position: relative;
		border: 1px solid transparent;
		border-bottom-color: $color-input-border;

		&::after {
			content: "";
			position: absolute;
			right: -10px;
			top: 50%;
			display: none;
			border-top: 1px solid $color-main-action;
			border-right: 1px solid $color-main-action;
			width: 16px;
			height: 16px;
			background-color: #fff;
			transform: translateY(-50%) rotate(45deg);
		}

		&.nav-v__item--active {
			@media screen and (min-width: $phone-size) {
				border-color: $color-main-action;

				&::after {
					display: block;

					@media screen and (max-width: $phone-size) { display: none; }
				}
			}

			@media screen and (max-width: $phone-size) { display: block; }
		}

		@media screen and (max-width: $phone-size) { display: none; }
	}

	&__link {
		display: block;
		padding: 16px;
		font-size: 18px;
		line-height: 1.44;

		@media screen and (max-width: $phone-size) { font-size: 16px; }
	}

	&__content {
		flex: 1;
		background-color: #fff;

		@media screen and (max-width: $phone-size) { width: 100%; }
	}

	&__title {
		display: block;
		margin-bottom: 32px;
		font-size: 34px;
		line-height: 1.44;

		@media screen and (max-width: $phone-size) {
			font-size: 28px;
			line-height: 1.2;
		}
	}

	> * {
		&:not(:last-child) {
			margin-right: 16px;

			@media screen and (max-width: $phone-size) {
				margin-right: 0;
				margin-bottom: 16px;
			}
		}
	}

	@media screen and (max-width: $phone-size) { flex-direction: column; }
}
