mixin rating-stars()
	.rating-stars
		.rating-stars__body
			.rating-stars__star.rating-stars__star--full
			.rating-stars__star.rating-stars__star--full
			.rating-stars__star
				.rating-stars__star--part(style="width: 50%;")
			.rating-stars__star
			.rating-stars__star
		span.rating-stars__text #[b 3.5] Ğ¸Ğ· 5
