.fast-review {
	padding: 8px 0;
	background-color: $color-light-bg;

	> * {
		margin: 16px 0;
		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
	}

	&__wrapper {
		position: relative;
		margin: 0 8px 16px 8px;
		padding: 32px 0;
	}

	&__line {
		position: absolute;
		left: 1px;
		top: 32px;
		z-index: 1;
		width: 0;
		height: 5px;
		background-color: $color-main-action;
		transition: width linear 0.3s;
	}

	&__inner {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		height: 5px;
		background-color: $color-input-border;
	}

	&__number {
		position: absolute;
		left: -12px;
		top: 100%;
		border-radius: 50%;
		width: 24px;
		height: 24px;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		cursor: pointer;

		&:hover,
		&:focus { background-color: #fff; }
	}

	&__item {
		position: relative;
		margin-bottom: -8px;
		border-left: 1px solid #dedede;
		height: 22px;

		/* stylelint-disable-next-line a11y/content-property-no-static-value */
		&::before {
			content: attr(data-fast-review);
			position: absolute;
			left: 0;
			top: -20px;
			display: block;
			font-size: 12px;
			white-space: nowrap;
			color: $color-text-info;
		}

		&--active {
			.fast-review__number {
				background-color: $color-main-action;

				&:hover,
				&:focus { background-color: $color-main-action; }
			}
		}

		&--pos {
			&-center {
				&::before {
					left: -50%;
					transform: translateX(-50%);
				}
			}

			&-right {
				&::before {
					left: auto;
					right: 0;
				}
			}
		}
	}
}
