mixin sort()
	.sort
		.sort__item
			span.sort__title Упорядочить по:
			.sort__action
				span.sort__current по популярности
		.sort__item
			span.sort__title Показывать по:
			.sort__action
				span.sort__current 30
	block
