mixin top-sales(props)
	+section({
		mods: 'sales',
		mainClass: 'sales'
	})
		+section-header('Лидеры продаж')
		if (props.type === 'categories' && props.type)
			.sales__wrapper
				.sales__row
					.sales__col
						+product({
							link: '#',
							sale: '-25%',
							badge: 'хит',
							name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
							count: '9 шт.',
							articul: 13562322,
							timeFor: 'от 2 до 3 дней',
							priceOld: '110 руб.',
							priceNow: '95 руб. за шт.',
							btnText: 'В корзину',
							mods: 'no-footer,seen'
						})
					.sales__col
						+product({
							link: '#',
							sale: '-25%',
							badge: '',
							name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
							count: '9 шт.',
							articul: 13562322,
							timeFor: 'от 2 до 3 дней',
							priceOld: '110 руб.',
							priceNow: '95 руб. за шт.',
							btnText: 'В корзину',
							mods: 'no-footer,seen'
						})
					.sales__col.sales__col--wide
						+product({
							link: '#',
							sale: '-25%',
							badge: '',
							name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
							count: '9 шт.',
							articul: 13562322,
							timeFor: 'от 2 до 3 дней',
							priceOld: '110 руб.',
							priceNow: '95 руб. за шт.',
							btnText: 'В корзину',
							mods: 'no-footer,seen'
						})
				.sales__row
					.sales__col
						+product({
							link: '#',
							sale: '-25%',
							badge: 'New',
							name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
							count: '9 шт.',
							articul: 13562322,
							timeFor: 'от 2 до 3 дней',
							priceOld: '110 руб.',
							priceNow: '95 руб. за шт.',
							btnText: 'В корзину',
							mods: 'no-footer,seen'
						})
					.sales__col.sales__col--wide
						+product({
							link: '#',
							sale: '-25%',
							badge: '',
							name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
							count: '9 шт.',
							articul: 13562322,
							timeFor: 'от 2 до 3 дней',
							priceOld: '110 руб.',
							priceNow: '95 руб. за шт.',
							btnText: 'В корзину',
							mods: 'no-footer,seen'
						})
					.sales__col
						+product({
							link: '#',
							sale: '-25%',
							badge: '',
							name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
							count: '9 шт.',
							articul: 13562322,
							timeFor: 'от 2 до 3 дней',
							priceOld: '110 руб.',
							priceNow: '95 руб. за шт.',
							btnText: 'В корзину',
							mods: 'no-footer,seen'
						})
		else
			.sales__wrapper-grid
				block
