mixin top-sales(props)
	+section({
		mods: 'sales',
		mainClass: 'sales'
	})
		+section-header('Лидеры продаж')
		if (props.type === 'categories')
			.sales__wrapper.sales__wrapper--cat
				block
		else
			.sales__wrapper
				block
