.sales {
	padding: 16px 0;

	.top-sales {
		display: grid;
		grid-gap: 10px;
		grid-template-areas:
			"first first second third"
			"first first sixes sixes"
			"fourth fives sixes sixes";

		@media screen and (max-width: $phone-size) {
			grid-template-areas:
				"first"
				"second"
				"third"
				"fourth"
				"fives"
				"sixes";
		}
	}
}
