.sales {
	&__wrapper {
		overflow: hidden;
		border-radius: 8px;
		background-color: #fff;

		.product-prev__footer { opacity: 1; }
	}

	&__wrapper-grid {
		display: grid;
		grid-gap: 10px;
		grid-template-areas:
			"first first second third"
			"first first sixes sixes"
			"fourth fives sixes sixes";
		cursor: pointer;

		@media screen and (max-width: $phone-size) {
			grid-template-areas:
				"first"
				"second"
				"third"
				"fourth"
				"fives"
				"sixes";
		}
	}

	&__row {
		display: flex;
		border-bottom: 1px solid #f2f2f2;

		&:last-child { border-bottom: 0; }
	}

	&__col {
		flex: 1;
		border-right: 1px solid #f2f2f2;
		padding: 8px;

		&:first-child {
			@media screen and (max-width: $tablet-size) { display: none; }
		}

		&:last-child { border-right: 0; }

		&--wide { flex: 2; }
	}

	.btn--fill {
		border-radius: 4px;
		width: auto;
		box-sizing: border-box;
	}
}
