mixin product-counter()
	.product-counter
		.product-counter__btn.js-counter-btn--minus
			span.product-counter__icon -
		.product-counter__current
			span.product-counter__text.js-counter-target 1
			span.product-counter__descr шт.
		.product-counter__btn.js-counter-btn--plus
			span.product-counter__icon +
