mixin footer-column-pay(props)
	.footer-column
		.footer-column-payment__block
			+footer-column-title(props.title)
			.footer-column-payment__types
				ul.footer-column-payment__list
					li.footer-column-payment__item
						+icon('visa', 'footer-column-payment__icon')
					li.footer-column-payment__item
						+icon('mastercard', 'footer-column-payment__icon')
					li.footer-column-payment__item
						+icon('mir', 'footer-column-payment__icon')
				a.footer-column-payment__link(href= props.href)= props.link
		if (props.titlebottom !== 'undefined')
			.footer-column-payment__block.footer-column-payment__block--relative
				+footer-column-title(props.titleBottom, 'promo')
				+tooltip({
					icon: 'gift',
					text: 'Мультиварка в подарок до 31 декабря',
					mods: 'promo'
				})
