.footer-column-payment {
	&__types {
		> * {
			margin: 16px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}

	&__block {
		margin-bottom: 40px;
		&:last-child { margin-bottom: 0; }
	}

	&__list {
		display: flex;
		align-items: center;
		margin-bottom: 0;

		> * {
			&:not(:last-child) { margin-right: 8px; }
		}
	}

	&__link {
		font-family: $font-family-semibold;
		font-weight: 600;
		color: $color-main-action;
	}

	&__icon {
		width: 40px;
		height: 40px;
	}
}
