.footer-column-payment {
	&__types {
		> * {
			margin: 16px 0;
			&:first-child { margin-top: -8px; }
			&:last-child { margin-bottom: 0; }
		}
	}

	&__block {
		margin-bottom: 32px;
		&:last-child { margin-bottom: 0; }

		&--relative {
			position: relative;
			display: inline-block;
			height: 66px;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		margin-bottom: 0;

		> * {
			height: 35px;

			&:not(:last-child) { margin-right: 16px; }
		}
	}

	&__link {
		font-family: $font-family-semibold;
		font-weight: 600;
		color: $color-main-action;
	}

	&__icon {
		width: 35px;
		height: 35px;
		fill: $color-link;
	}
}
