.advantages {
	&__list {
		display: flex;
		padding: 8px 0;

		> * {
			flex: 1;

			&:not(:last-child) {
				margin-right: 32px;

				@media screen and (max-width: $tablet-size) { margin-right: 8px; }

				@media screen and (max-width: $phone-size) {
					margin-right: 0;
					margin-bottom: 32px;
				}
			}
		}

		@media screen and (max-width: $phone-size) {
			flex-direction: column;
		}
	}
}
