.location-question {
	position: absolute;
	left: 0;
	top: calc(100% + 5px);
	z-index: 1;
	display: flex;
	align-items: center;
	border-radius: 8px;
	padding: 8px 16px;
	box-shadow: 0 0 5px 0 rgba(159, 197, 178, 0.5);
	background-color: #fff;

	> * {
		&:not(:last-child) { margin-right: 16px; }
	}

	&__buttons {
		display: flex;
		align-items: center;

		> * {
			&:not(:last-child) { margin-right: 8px; }
		}
	}

	&__text {
		font-family: $font-family-semibold;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		white-space: nowrap;

		@media screen and (max-width: $tablet-size) {
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	@media screen and (max-width: $tablet-size) { max-width: 728px; }
}
