.location-question {
	position: absolute;
	left: 0;
	top: calc(100% + 5px);
	z-index: 1;
	display: flex;
	align-items: center;
	border-radius: 8px;
	padding: 8px 16px;
	box-shadow: 0 0 5px 0 rgba(159, 197, 178, 0.5);
	background-color: #fff;

	// &::after {
	// 	content: "";
	// 	position: absolute;
	// 	left: 100px;
	// 	top: 10px;
	// 	border-style: solid;
	// 	border-width: 0 10px 10px 10px;
	// 	border-color: transparent transparent #fff transparent;
	// 	width: 0;
	// 	height: 0;
	// }

	> * {
		&:not(:last-child) { margin-right: 16px; }
	}

	&__buttons {
		display: flex;
		align-items: center;

		> * {
			&:not(:last-child) { margin-right: 8px; }
		}
	}

	&__text {
		font-family: $font-family-semibold;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		white-space: nowrap;
	}
}
