mixin popular-categories(type, title)
	+section({
		mods: 'popular-cat',
		mainClass: 'popular-cat'
	})
		.popular-cat__header
			+title({
				mods: 'section',
				text: title,
			}, 'h2')
		if (type === 'catalog-page')
			nav.catalog-mobile-nav
				+catalog-list('catalog-page')
		.popular-cat__body
			block
