.order-callback {
	display: flex;
	flex-direction: column;

	&__description {
		font-size: 14px;
	}

	&__phone {
		font-family: $font-family-boldest;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.5;
		white-space: nowrap;
		color: $color-main-action;
	}

	&__link {
		font-family: $font-family-semibold;
		font-size: 14px;
		text-decoration: underline;
		color: #fff;
	}
}
