.location-select {
	position: absolute;
	left: 0;
	top: 25px;
	z-index: 2;
	display: none;
	flex-direction: column;
	overflow: auto;
	border: 2px solid $color-main-action;
	border-radius: 4px;
	width: 210px;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
	background-color: #fff;

	.close--location {
		position: absolute;
		right: 0;
		top: -24px;
		display: none;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		color: $color-main-action;
		cursor: pointer;

		span {
			&::before,
			&::after {
				background-color: $color-main-action;
			}
		}

		@media screen and (max-width: $phone-size) { display: flex; }
	}

	&__header {
		border-bottom: 2px solid $color-main-action;
	}

	&__list {
		overflow: auto;
		padding: 16px 0;
		height: 100%;
	}

	&__item {
		padding: 8px 16px;
		font-family: $font-family-semibold;
		font-size: 14px;
		cursor: pointer;
		transition: background-color linear 0.3s;

		&:hover,
		&:focus { background-color: $color-main-action; }
	}

	&__body {
		position: relative;
		display: flex;
		flex-direction: column;
		height: auto;
		max-height: 240px;
		color: $color-base-text;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			display: block;
			height: 30px;
			background-image: linear-gradient(#fff, rgba(255, 255, 255, 0));
		}

		&::before {
			top: 0;
			background-image: linear-gradient(#fff, rgba(255, 255, 255, 0));
		}

		&::after {
			bottom: 0;
			background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
		}

		@media screen and (max-width: $phone-size) { max-height: 100%; }
	}

	@media screen and (max-width: $phone-size) {
		left: 20px;
		right: 20px;
		top: 60px;
		bottom: 30px;
		overflow: visible;
		width: auto;
	}
}
