.location {
	position: relative;
	flex: 0 0 176px;
	width: 176px;
	max-width: 176px;

	&__header {
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;

		> * {
			&:not(:last-child) { margin-right: 8px; }
		}
	}

	&__body {
		&.is-location-selected {
			.location-select {
				display: flex;
			}

			@media screen and (max-width: $phone-size) {
				position: fixed;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: 3;
				background-color: rgba(#033, 0.3);
			}
		}
	}

	&__current {
		display: block;
		overflow: hidden;
		padding-right: 8px;
		white-space: nowrap;
		text-overflow: ellipsis;

		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 6px;
			z-index: 1;
			margin-left: 8px;
			border-style: solid;
			border-width: 4px 4.5px 0 4.5px;
			border-color: #000 transparent transparent transparent;
			width: 0;
			height: 0;
		}

		@media screen and (max-width: $phone-size) { font-size: 16px; }
	}

	&__icon {
		flex-shrink: 0;
		width: 16px;
		height: 16px;
		fill: $color-base-text;
	}
}
