mixin my-goods()
	.my-goods
		.my-goods__header
			+sort-item({
				title: 'Статус',
				current: 'Сначала недавно заказанные',
				mods: 'border-none'
			})
				+sort-item__link('Ожидает потверждения')
				+sort-item__link('Готовится к отправке')
				+sort-item__link('Отменен')
			+page-counter({
				str: true,
			})
		.my-goods__body
			.my-goods__product-wrapper
				+product({
					link: '#',
					sale: '-25%',
					badge: '',
					name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
					count: '9 шт.',
					articul: 13562322,
					timeFor: 'от 2 до 3 дней',
					priceOld: '110 руб.',
					priceNow: '95 руб. за шт.',
					btnText: 'В корзину',
					counter: false,
					info: true,
					mods: 'sub-categories'
				})
				+product({
					link: '#',
					sale: '-25%',
					badge: '',
					name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
					count: '9 шт.',
					articul: 13562322,
					timeFor: 'от 2 до 3 дней',
					priceOld: '110 руб.',
					priceNow: '95 руб. за шт.',
					btnText: 'В корзину',
					counter: false,
					info: true,
					mods: 'sub-categories'
				})
				+product({
					link: '#',
					sale: '-25%',
					badge: '',
					name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
					count: '9 шт.',
					articul: 13562322,
					timeFor: 'от 2 до 3 дней',
					priceOld: '110 руб.',
					priceNow: '95 руб. за шт.',
					btnText: 'В корзину',
					counter: false,
					info: true,
					mods: 'sub-categories'
				})
				+product({
					link: '#',
					sale: '-25%',
					badge: '',
					name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
					count: '9 шт.',
					articul: 13562322,
					timeFor: 'от 2 до 3 дней',
					priceOld: '110 руб.',
					priceNow: '95 руб. за шт.',
					btnText: 'В корзину',
					counter: false,
					info: true,
					mods: 'sub-categories'
				})
				+product({
					link: '#',
					sale: '-25%',
					badge: '',
					name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
					count: '9 шт.',
					articul: 13562322,
					timeFor: 'от 2 до 3 дней',
					priceOld: '110 руб.',
					priceNow: '95 руб. за шт.',
					btnText: 'В корзину',
					counter: false,
					info: true,
					mods: 'sub-categories'
				})
				+product({
					link: '#',
					sale: '-25%',
					badge: '',
					name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
					count: '9 шт.',
					articul: 13562322,
					timeFor: 'от 2 до 3 дней',
					priceOld: '110 руб.',
					priceNow: '95 руб. за шт.',
					btnText: 'В корзину',
					counter: false,
					info: true,
					mods: 'sub-categories'
				})
				+product({
					link: '#',
					sale: '-25%',
					badge: '',
					name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
					count: '9 шт.',
					articul: 13562322,
					timeFor: 'от 2 до 3 дней',
					priceOld: '110 руб.',
					priceNow: '95 руб. за шт.',
					btnText: 'В корзину',
					counter: false,
					info: true,
					mods: 'sub-categories'
				})
				+product({
					link: '#',
					sale: '-25%',
					badge: '',
					name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
					count: '9 шт.',
					articul: 13562322,
					timeFor: 'от 2 до 3 дней',
					priceOld: '110 руб.',
					priceNow: '95 руб. за шт.',
					btnText: 'В корзину',
					counter: false,
					info: true,
					mods: 'sub-categories'
				})
				+product({
					link: '#',
					sale: '-25%',
					badge: '',
					name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
					count: '9 шт.',
					articul: 13562322,
					timeFor: 'от 2 до 3 дней',
					priceOld: '110 руб.',
					priceNow: '95 руб. за шт.',
					btnText: 'В корзину',
					counter: false,
					info: true,
					mods: 'sub-categories'
				})
		.my-goods__footer
			+pagination({
				mods: ''
			})
				+pagination-item({
					text: '1',
					href: 'href',
					active: true,
					mods: ''
				})
				+pagination-item({
					text: '2',
					href: 'href',
					mods: ''
				})
				+pagination-item({
					text: '3',
					href: 'href',
					mods: ''
				})
				+pagination-item({
					text: '4',
					href: 'href',
					mods: ''
				})
				+pagination-item({
					text: '5',
					href: 'href',
					mods: ''
				})
