mixin tags(props)
	.tags
		.tags__body
			span.tags__title= props.title
			block
		span.tags__toggle.js-tags__toggle Все запросы

//- mixin tag(props)
//- 	-
//- 		var allMods = "";
//- 		if(typeof(props.mods) !== "undefined" && props.mods)
//- 			var modsList = props.mods.split(",");
//- 			for (var i = 0; i < modsList.length; i++) {
//- 				allMods = allMods + " tags--" + modsList[i].trim();
//- 			}
//- 	.tag(class=allMods)
//- 		span.tag__text= props.text
//- 		span.tag__count.text-count 123
