extends pug/base

append vars
	- html.classList.push('page-404')
	- var title = 'Страница не найдена'
block header
	+header()
block content
	+breadcrumbs({mods: 'catalog'})
		+breadcrumbs-item-icon('home')
		+breadcrumbs-item-nav({
			label: 'Страница не найдена',
		})
	+404()
	+you-seen()
	+questions('question')
		+question-social()
block footer
	+footer()
	+overlay()
