extends pug/base

append vars
	- html.classList.push('page-inner')
	- var title = 'Страница акции'
block header
	+header()
block content
	+breadcrumbs({mods: 'catalog'})
		+breadcrumbs-item-icon('home')
		+breadcrumbs-item-nav({
			label: 'Страница акции',
		})
		+breadcrumbs-item({
			text: 'Мультиварка в подарок при заказе водостока от 50 000 рублей'
		})
	+action-single()
	+action-goods()
	+you-seen()
	+questions('question')
		+question-social()
block footer
	+footer()
	+overlay()
