extends pug/base

append vars
	- html.classList.push('page-index')
	- var title = 'Evensky'
block header
	+header()
block content
	+banner()
	+popular-categories()
		+popular-cat-prev()
	+advantages()
		+advantage('warranty', '30-дневная гарантия возврата денег', 'Поэтому вы можете делать покупки с уверенностью', '#', 'Узнать о гарантии')
		+advantage('support', 'Специалисты по товарам на связи', 'Мы ответим на любые вопросы о  товарах в течение 10 минут', '#popup-consultation', 'Получить консультацию', true)
		+advantage('sample', 'Бесплатные образцы', 'Некоторые товары вы можете изучить внимательнее перед покупкой')
	+promo()
		+promoPrev('Купить листы оцинкованные', 'Специальное предложение', 'на листы оцинкованные')
		+promoPrev('Купить доборные элементы кровли', 'Распродажа', 'доборных элементов кровли')
		+promoPrev('Купить профнастил со скидкой', 'Скидки до 50%', 'на профнастил')
	+discount()
		+product('#', '-25%', '', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-50%', '', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-30%', 'хит', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-20%', '', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
	+top-sales()
		+top-sale('#', 'Водосточные трубы', 'first', 'big')
		+top-sale('#', 'Гладкий лист оцинкованый', 'second')
		+top-sale('#', 'Подсистема вентилируемого фасада', 'third')
		+top-sale('#', 'Планка стыковочная 30х30х2000 мм', 'fourth')
		+top-sale('#', 'Гладкий лист оцинкованый', 'fives')
		+top-sale('#', 'Планка стыковочная 30х30х2000 мм, толщина 0.4 мм, цвет графитовый серый', 'sixes', 'big')
	+you-seen()
		+product('#', '-25%', '', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-50%', '', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-30%', 'хит', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-20%', '', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-25%', '', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-50%', '', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-30%', 'хит', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-20%', '', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-25%', '', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-50%', '', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-30%', 'хит', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-20%', '', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
	+questions('question')
		+question-social()
block footer
	+footer()
	+modal('popup-consultation', 'Получить консультацию', 'Мы Вам перезвоним', true ,'consult')
		+form('consultation')
			.form__body
				+fieldset('Контактный телефон')
					+field-text({
						mods: 'width-s,require',
						id: 'consult-phone',
						labelText: "Контактный телефон",
						attrs: {
							type: 'phone',
							name: 'phone',
							placeholder: "+7(912)123-34-45"
						}
					})
				+fieldset('Вопрос или комментарий')
					+field-text({
						mods: 'textarea',
						id: 'consult-textarea',
						labelText: "Вопрос или кооментарий",
						placeholder: "Здравствуйте, меня интересует...",
						attrs: {
							type: 'textarea',
							rows: 10,
							cols: 5
						}
					})
				+fieldset('Прикрепите файл')
					+field-file({
						icon: 'paper-holder'
					})
			+form-footer('#', 'Получить консультацию', true)
	+modal('popup-questions', 'Что можно улучшить на этой странице?', 'Что можно улучшить на этой странице', '', 'questions')
		+form('questions')
			.form__body
				+fieldset('Вопрос или кооментарий')
					+field-text({
						mods: 'textarea,require',
						id: 'questions-ask',
						labelText: "Вопрос или кооментарий",
						placeholder: "Здравствуйте, на этой странице можно...",
						attrs: {
							type: 'textarea',
							name: 'textarea',
							rows: 10,
							cols: 5
						}
					})
				.form__columns
					.form__column
						+fieldset('Электронная почта')
							+field-text({
								mods: 'width-m',
								id: 'questions-mail',
								labelText: "Электронная почта",
								attrs: {
									type: 'email',
									name: 'mail',
									placeholder: "Введите свой email"
								}
							})
						+fieldset('Контактный телефон')
							+field-text({
								mods: 'width-m,require',
								id: 'consult-phone',
								labelText: "Контактный телефон",
								attrs: {
									type: 'phone',
									name: 'phone',
									placeholder: "+7(912)123-34-45"
								}
							})
					.form__column.form__column--text
						span.form-line__info Мы быстрее исправим ошибку , если сможем связаться с вами для уточнения информации
			+form-footer('#', 'Предложить улучшение')
