extends pug/base

append vars
	- html.classList.push('page-index')
	- var title = 'Evensky'
block content
	include pug/sections/banner
	include pug/sections/popular-cat
	include pug/sections/advantages
	include pug/sections/promo
	include pug/sections/discount
	include pug/sections/top-sale
