extends pug/base

append vars
	- html.classList.push('page-index')
	- var title = 'Evensky'
block header
	+header()
block content
	+banner()
	+popular-categories()
		+popular-cat-prev()
	+advantages()
		+advantage('warranty', '30-дневная гарантия возврата денег', 'Поэтому вы можете делать покупки с уверенностью', 'Узнать о гарантии')
		+advantage('support', 'Специалисты по товарам на связи', 'Мы ответим на любые вопросы о  товарах в течение 10 минут', 'Получить консультацию')
		+advantage('sample', 'Бесплатные образцы', 'Некоторые товары вы можете изучить внимательнее перед покупкой')
	+promo()
		+promoPrev('Купить листы оцинкованные', 'Специальное предложение', 'на листы оцинкованные')
		+promoPrev('Купить доборные элементы кровли', 'Распродажа', 'доборных элементов кровли')
		+promoPrev('Купить профнастил со скидкой', 'Скидки до 50%', 'на профнастил')
	+discount()
		+product('#', '-25%', '', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-50%', '', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-30%', 'хит', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
		+product('#', '-20%', '', 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024', '10 шт.', 13761533, 'от 2 до 5 дней', '80 руб.', '76 руб. за шт.', 'В корзину')
	+top-sales()
		+top-sale('#', 'Водосточные трубы', 'first', 'big')
		+top-sale('#', 'Гладкий лист оцинкованый', 'second')
		+top-sale('#', 'Подсистема вентилируемого фасада', 'third')
		+top-sale('#', 'Планка стыковочная 30х30х2000 мм', 'fourth')
		+top-sale('#', 'Планка стыковочная 30х30х2000 мм, толщина 0.4 мм, цвет графитовый серый', 'fives')
		+top-sale('#', 'Гладкий лист оцинкованый', 'sixes', 'big')
