extends pug/base

append vars
	- html.classList.push('page-index')
	- var title = 'Evensky'
block header
	+header()
block content
	+banner()
	+popular-categories()
		+popular-cat-prev()
	+advantages()
		+advantage({
			icon: 'warranty',
			title: '30-дневная гарантия возврата денег',
			text: 'Поэтому вы можете делать покупки с уверенностью',
			href: '#',
			link: 'Узнать о гарантии'
		})
		+advantage({
			icon: 'support',
			title: 'Специалисты по товарам на связи',
			text: 'Мы ответим на любые вопросы о товарах в течение 10 минут',
			href: '#popup-consultation',
			link: 'Получить консультацию',
			modal: true
		})
		+advantage({
			icon: 'sample',
			title: 'Бесплатные образцы',
			text: 'Некоторые товары вы можете изучить внимательнее перед покупкой'
		})
	+promo()
		+promoPrev({
			link: 'Купить листы оцинкованные',
			descr: 'Специальное предложение',
			title:  'на листы оцинкованные',
			mods: ' '
		})
		+promoPrev({
			link: 'Купить доборные элементы кровли',
			descr: 'Распродажа',
			title: 'доборных элементов кровли',
			mods: ' '
		})
		+promoPrev({
			link: 'Купить профнастил со скидкой',
			descr: 'Скидки до 50%',
			title: 'на профнастил',
			mods: 'hide'
		})
	+discount()
		+product({
			link: '#',
			sale: '-25%',
			badge: '',
			name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
			count: '10 шт.',
			articul: 13761533,
			timeFor: 'от 2 до 5 дней',
			priceOld: '80 руб.',
			priceNow: '76 руб. за шт.',
			btnText: 'В корзину',
			mods: 'discount'
		})
		+product({
			link: '#',
			sale: '-50%',
			badge: '',
			name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
			count: '10 шт.',
			articul: 13761533,
			timeFor: 'от 2 до 5 дней',
			priceOld: '80 руб.',
			priceNow: '76 руб. за шт.',
			btnText: 'В корзину',
			mods: 'discount'
		})
		+product({
			link: '#',
			sale: '-30%',
			badge: 'хит',
			name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
			count: '12 шт.',
			articul: 13565534,
			timeFor: 'от 2 до 3 дней',
			priceOld: '120 руб.',
			priceNow: '90 руб. за шт.',
			btnText: 'В корзину',
			mods: 'discount'
		})
		+product({
			link: '#',
			sale: '-20%',
			badge: 'хит',
			name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
			count: '9 шт.',
			articul: 13562322,
			timeFor: 'от 2 до 3 дней',
			priceOld: '110 руб.',
			priceNow: '95 руб. за шт.',
			btnText: 'В корзину',
			mods: 'hide'
		})
	+top-sales()
		+top-sale({
			href: '#',
			title: 'Водосточные трубы',
			grid: 'first',
			big: 'big'
		})
		+top-sale({
			href: '#',
			title: 'Гладкий лист оцинкованый',
			grid: 'second'
		})
		+top-sale({
			href: '#',
			title: 'Подсистема вентилируемого фасада',
			grid: 'third'
		})
		+top-sale({
			href: '#',
			title: 'Планка стыковочная 30х30х2000 мм',
			grid: 'fourth'
		})
		+top-sale({
			href: '#',
			title: 'Гладкий лист оцинкованый',
			grid: 'fives'
		})
		+top-sale({
			href: '#',
			title: 'Планка стыковочная 30х30х2000 мм, толщина 0.4 мм, цвет графитовый серый',
			grid: 'sixes',
			big: 'big'
		})
	+you-seen()
		+product({
			link: '#',
			sale: '-25%',
			badge: '',
			name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
			count: '9 шт.',
			articul: 13562322,
			timeFor: 'от 2 до 3 дней',
			priceOld: '110 руб.',
			priceNow: '95 руб. за шт.',
			btnText: 'В корзину',
			mods: 'no-footer'
		})
		+product({
			link: '#',
			sale: '-50%',
			badge: 'новый',
			name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
			count: '9 шт.',
			articul: 13562322,
			timeFor: 'от 2 до 3 дней',
			priceOld: '110 руб.',
			priceNow: '95 руб. за шт.',
			btnText: 'В корзину',
			mods: 'no-footer'
		})
		+product({
			link: '#',
			sale: '-25%',
			badge: 'хит',
			name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
			count: '9 шт.',
			articul: 13562322,
			timeFor: 'от 2 до 3 дней',
			priceOld: '110 руб.',
			priceNow: '95 руб. за шт.',
			btnText: 'В корзину',
			mods: 'no-footer'
		})
		+product({
			link: '#',
			sale: '-25%',
			badge: 'хит',
			name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
			count: '9 шт.',
			articul: 13562322,
			timeFor: 'от 2 до 3 дней',
			priceOld: '110 руб.',
			priceNow: '95 руб. за шт.',
			btnText: 'В корзину',
			mods: 'no-footer'
		})
		+product({
			link: '#',
			sale: '-25%',
			badge: 'хит',
			name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
			count: '9 шт.',
			articul: 13562322,
			timeFor: 'от 2 до 3 дней',
			priceOld: '110 руб.',
			priceNow: '95 руб. за шт.',
			btnText: 'В корзину',
			mods: 'no-footer'
		})
		+product({
			link: '#',
			sale: '-25%',
			badge: 'хит',
			name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
			count: '9 шт.',
			articul: 13562322,
			timeFor: 'от 2 до 3 дней',
			priceOld: '110 руб.',
			priceNow: '95 руб. за шт.',
			btnText: 'В корзину',
			mods: 'no-footer'
		})
		+product({
			link: '#',
			sale: '-25%',
			badge: 'хит',
			name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
			count: '9 шт.',
			articul: 13562322,
			timeFor: 'от 2 до 3 дней',
			priceOld: '110 руб.',
			priceNow: '95 руб. за шт.',
			btnText: 'В корзину',
			mods: 'no-footer'
		})
		+product({
			link: '#',
			sale: '-32%',
			badge: 'хит',
			name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
			count: '9 шт.',
			articul: 13562322,
			timeFor: 'от 2 до 3 дней',
			priceOld: '110 руб.',
			priceNow: '95 руб. за шт.',
			btnText: 'В корзину',
			mods: 'no-footer'
		})
		+product({
			link: '#',
			sale: '-33%',
			badge: 'хит',
			name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
			count: '9 шт.',
			articul: 13562322,
			timeFor: 'от 2 до 3 дней',
			priceOld: '110 руб.',
			priceNow: '95 руб. за шт.',
			btnText: 'В корзину',
			mods: 'no-footer'
		})
		+product({
			link: '#',
			sale: '-35%',
			badge: 'хит',
			name: 'Планка стыковочная 30х30х2000 мм, толщина 0,4 мм, цвет графитовый серый RAL 7024',
			count: '9 шт.',
			articul: 13562322,
			timeFor: 'от 2 до 3 дней',
			priceOld: '110 руб.',
			priceNow: '95 руб. за шт.',
			btnText: 'В корзину',
			mods: 'no-footer'
		})
	+questions('question')
		+question-social()
block footer
	+footer()
	+modal({
		id: 'popup-consultation',
		title: 'Получить консультацию',
		successText: 'Мы Вам перезвоним',
		long: true,
		mods: 'consult'
	})
		+form('consultation')
			.form__body
				+fieldset('Контактный телефон')
					+field-text({
						mods: 'width-s,require',
						id: 'consult-phone',
						labelText: "Контактный телефон",
						attrs: {
							type: 'phone',
							name: 'phone',
							placeholder: "+7(912)123-34-45"
						}
					})
				+fieldset('Вопрос или комментарий')
					+field-text({
						mods: 'textarea',
						id: 'consult-textarea',
						labelText: "Вопрос или кооментарий",
						placeholder: "Здравствуйте, меня интересует...",
						attrs: {
							type: 'textarea',
							rows: 10,
							cols: 5
						}
					})
				+fieldset('Прикрепите файл')
					+field-file({
						icon: 'paper-holder'
					})
			+form-footer('#', 'Получить консультацию', true)
	+modal({
		id: 'popup-questions',
		title: 'Что можно улучшить на этой странице?',
		successText: 'Что можно улучшить на этой странице',
		mods: 'questions'
	})
		+form('questions')
			.form__body
				+fieldset('Вопрос или кооментарий')
					+field-text({
						mods: 'textarea,require',
						id: 'questions-ask',
						labelText: "Вопрос или кооментарий",
						placeholder: "Здравствуйте, на этой странице можно...",
						attrs: {
							type: 'textarea',
							name: 'textarea',
							rows: 10,
							cols: 5
						}
					})
				.form__columns
					.form__column
						+fieldset('Электронная почта')
							+field-text({
								mods: 'width-m',
								id: 'questions-mail',
								labelText: "Электронная почта",
								attrs: {
									type: 'email',
									name: 'mail',
									placeholder: "Введите свой email"
								}
							})
						+fieldset('Контактный телефон')
							+field-text({
								mods: 'width-m,require',
								id: 'consult-phone',
								labelText: "Контактный телефон",
								attrs: {
									type: 'phone',
									name: 'phone',
									placeholder: "+7(912)123-34-45"
								}
							})
					.form__column.form__column--text
						span.form-line__info Мы быстрее исправим ошибку , если сможем связаться с вами для уточнения информации
			+form-footer('#', 'Предложить улучшение')
