extends pug/base

append vars
	- html.classList.push('page-inner')
	- var title = 'Карта сайта'
block header
	+header()
block content
	+breadcrumbs({mods: 'catalog'})
		+breadcrumbs-item-icon('home')
		+breadcrumbs-item-nav({
			label: 'Карта сайта',
		})
	+sitemap()
	+you-seen()
	+questions('question')
		+question-social()
block footer
	+footer()
	+overlay()
