extends pug/base

append vars
	- html.classList.push('page-inner')
	- var title = 'Подкатегории'
block header
	+header()
block content
	+breadcrumbs({mods: 'category'})
		+breadcrumbs-item-icon('home')
		+breadcrumbs-item-nav({
			label: 'Каталог металлопродукции',
		})
		+breadcrumbs-item-nav({
			label: 'Все для кровли',
		})
		+breadcrumbs-item({
			text: 'Все для кровли',
		})
	+sub-categories()
	+often-search()
	+you-seen()
	+questions('question')
		+question-social()
block footer
	+footer()
	+modal({
		id: 'popup-colors',
		title: 'Каталог цветов',
		mods: 'colors'
	})
		+color-choose()
	+overlay()
