.question-social {
	display: flex;
	align-items: center;

	> * {
		&:not(:last-child) { margin-right: 32px; }
	}

	&__list {
		display: flex;
		align-items: center;

		> * {
			&:not(:last-child) { margin-right: 16px; }
		}
	}

	&__link {
		display: flex;
		align-items: center;

		> * {
			&:not(:last-child) { margin-right: 8px; }
		}
	}

	&__icon {
		width: 24px;
		height: 24px;
		fill: $color-base-text;
	}

	&__text {
		@media screen and (max-width: $tablet-size) { display: none; }
	}
}
