mixin question-social()
	.question-social
		span.question-social__title Задайте вопрос
		ul.question-social__list
			+questionSocialListItem('messenger', 'Messenger', '#')
			+questionSocialListItem('vk', 'ВКонтакте', '#')
			+questionSocialListItem('telegram', 'Telegram', '#')
