*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	position: relative;
	height: 100%;
	font-family: $font-family-main;
	font-size: 14px;
	color: $color-base-text;
	background-color: $color-main-bg;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.is-fixed { overflow: hidden; }
}

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

p { margin: 0; }

fieldset {
	margin: 0;
	border: none;
	padding: 0;
}
