*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: $font-family-main;
	font-size: 12px;
	color: $color-base-text;
	background-color: $color-main-bg;
}

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: $color-base-text;
}

p { margin: 0; }

section {
	position: relative;
	padding: 40px 0;
}
