.button {
	border: none;
	padding: 19px 70px 16px;
	font-weight: 700;
	font-size: 13.5px;
	letter-spacing: 0.5px;
	text-decoration: none;
	text-transform: uppercase;
	color: $color-white;
	background-color: $color-salmon;
	transition: background 0.1s ease;

	&:hover {
		background-color: $color-malibu;
	}

	&--small {
		padding: 13px 31px 13px;
	}
}
