.container {
	position: relative;
	margin: 0 auto;
	padding: 0 80px;
	min-width: 320px;
	max-width: $content-size;

	@media screen and (max-width: $tablet-size) { padding: 0 16px; }

	// @media screen and (max-width: $phone-size) { padding: 0 8px; }
}
