// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-base-text: #333;
$color-salmon: #ff8261;
$color-malibu: #52cbf8;
$color-main-bg: #f2f2f2;
$color-link: #1fa349;
$color-dark-bg: #033;

// FONTS

$fa-font-path: "../fonts/font-awesome";
$font-family-main: "Source Sans Pro", sans-serif;
