// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-base-text: #333;
$color-input-border: #ededed;
$color-main-bg: #f2f2f2;
$color-link: #1fa349;
$color-dark-bg: #033;
$color-input-placeholder: #bababa;
$color-main-action: #f8e71c;

// FONTS

$fa-font-path: "../fonts/font-awesome";
$font-family-main: "Source Sans Pro", sans-serif;
$font-family-boldest: "Source Sans Pro Bold", sans-serif;
$font-family-semibold: "Source Sans Pro SemiBold", sans-serif;
