// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-salmon: #ff8261;
$color-malibu: #52cbf8;

// FONTS

$fa-font-path: "../fonts/font-awesome";
$font-family-main: "Source Sans Pro", sans-serif;
