.filter {
	border-radius: 4px;
	background-color: #fff;

	&__header {
		border-bottom: 1px solid #dedede;
		padding: 16px;
	}

	&__title {
		font-weight: bold;
		font-size: 22px;
		line-height: 28px;
	}

	&__link {
		display: block;
		margin-top: 16px;
		font-weight: 600;
		font-size: 14px;
		color: $color-link;
	}

	&__toggle {
		display: flex;
		align-items: center;
		margin-top: 16px;
		font-size: 14px;
		color: $color-link;
		cursor: pointer;
	}

	&__toggle-text {
		display: flex;
		align-items: center;

		&::after {
			content: "";
			margin-left: 8px;
			border-style: solid;
			border-width: 5px 5px 0 5px;
			border-color: $color-link transparent transparent transparent;
			width: 0;
			height: 0;
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		border-top: 1px solid #ededed;
		padding: 16px;

		> * {
			&:not(:last-child) { margin-right: 8px; }
		}
	}
}
