.pay-methods {
	max-width: 504px;

	> * {
		margin: 40px 0;
		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
	}

	&__type {
		> * {
			&:not(:last-child) { margin-bottom: 24px; }
		}
	}

	&__type-item {
		> * {
			&:not(:last-child) { margin-bottom: 8px; }
		}
	}

	&__text {
		font-family: $font-family-semibold;
		font-size: 14px;
	}

	&__line {
		display: flex;
		align-items: flex-start;
		font-size: 18px;
		line-height: 1.44;

		> * {
			&:not(:last-child) { margin-right: 16px; }
		}
	}

	&__line-text {
		margin-bottom: 8px;
		font-family: $font-family-boldest;
		font-weight: bold;
	}

	&__icon {
		flex-shrink: 0;
		width: 35px;
		height: 35px;
	}

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__steps {
		> * {
			margin: 16px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}

	&__step {
		display: flex;
		align-items: center;

		> * {
			&:not(:last-child) { margin-right: 16px; }
		}
	}

	&__step-number-wrapper {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		justify-content: center;
		border: 2px solid $color-main-action;
		border-radius: 50%;
		width: 35px;
		height: 35px;
	}

	&__step-text {
		font-size: 14px;
		line-height: 18px;
	}
}
