.header {
	.container {
		display: flex;
		align-items: center;

		@media screen and (max-width: $tablet-size) { justify-content: center; }
	}

	&__top {
		padding: 8px 0;

		@media screen and (max-width: $phone-size) { display: none; }
	}

	&__main {
		padding: 16px 0;
		color: #fff;
		background-color: $color-dark-bg;

		.container {
			position: relative;

			> * {
				&:not(:last-child) {
					margin-right: 48px;

					@media screen and (max-width: $tablet-size) { margin-right: 40px; }

					@media screen and (max-width: $phone-size) { margin-right: 24px; }
				}
			}
		}

		@media screen and (max-width: $tablet-size) { padding: 8px 0; }
	}

	&__user-nav {
		margin-left: auto;
	}

	&__location {
		margin-right: 80px;

		@media screen and (max-width: $tablet-size) {
			margin-right: 40px;
		}
	}

	&__actions {
		display: flex;
		align-items: center;

		> * {
			&:not(:last-child) {
				margin-right: 48px;

				@media screen and (max-width: $tablet-size) { margin-right: 40px; }

				@media screen and (max-width: $phone-size) { margin-right: 16px; }
			}
		}

		@media screen and (max-width: $tablet-size) { order: 3; }

		@media screen and (max-width: $phone-size) { margin-left: auto; }
	}

	&__phone-link {
		display: none;
		height: 26px;

		@media screen and (max-width: $phone-size) { display: block; }
	}

	&__phone-icon {
		width: 26px;
		height: 26px;
	}

	.logo {
		@media screen and (max-width: $tablet-size) { order: 1; }
	}

	.catalog-nav {
		@media screen and (max-width: $tablet-size) { order: 2; }
	}

	.search {
		@media screen and (max-width: $tablet-size) { order: 1; }
	}

	.header__phone-link {
		@media screen and (max-width: $phone-size) { order: 2; }
	}

	.order-callback {
		@media screen and (max-width: $tablet-size) {
			order: 3;
			margin-right: 0;
		}
	}

	.basket {
		@media screen and (max-width: $tablet-size) {
			order: 2;
			margin-right: 32px;
			margin-left: 0;
		}

		@media screen and (max-width: $phone-size) { margin-right: 0; }
	}
}
