mixin header()
	header.header
		.header__top
			.container
				+location('map','Нижний Новгород')
				+main-nav()
				+user-nav('#', 'Войти')
		.header__main
			.container
				+logo({
					src: 'images/logo/images/logo.svg',
					alt: 'Логотип',
					text: 'Продажа стройматериалов'
				})
				+catalog-nav('Каталог стройматериалов')
				+search('Артикул или название товара','search')
				+order-callback({
					descr: 'Звоните круглосуточно',
					tel: '+7 490 456-34-34',
					link: '#',
					linkText: 'Заказать звонок',
					position: 'header'
				})
				+busket({
					icon: 'cart',
					title: 'Ваш заказ',
					count: 'здесь пока пусто'
				})
