mixin header()
	header.header
		.header__top
			.container
				+location('map','Нижний Новгород')
				+main-nav()
				+user-nav('#', 'Войти')
		.header__main
			.container
				+logo('images/logo.svg', 'Логотип', 'Продажа стройматериалов')
				+catalog-nav('Каталог стройматериалов')
				+search('Артикул или название товара','search')
				+order-callback('Звоните круглосуточно','+7 490 456-34-34', '#', 'Заказать звонок')
				+busket('cart','Ваш заказ','здесь пока пусто')
