mixin catalog-nav(title)
	.catalog-nav
		.catalog-nav__header.js-catalog-nav__header
			+sandwich()
			span.catalog-nav__title= title
			span.catalog-nav__mobile-title Каталог
		.catalog-nav__body.js-catalog-nav__body
			+catalog-list()
