.form {
	padding: 40px;
	background-color: #fff;

	&__body {
		margin-bottom: 24px;

		> * {
			margin: 24px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}

	&--search {
		padding: 0;
		background-color: transparent;
	}
}
