
mixin form(mods)
	-
		// список модификаторов
		var allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			var modsList = mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' form--' + modsList[i].trim();
			}
		}

	form.form(class=allMods)&attributes(attributes)
		block
