mixin product-nav()
	.product-nav
		ul.product-nav__list
			li.product-nav__item
				a.product-nav__link(href="#")
					span.product-nav__text Сертификаты
					span.text-count 4
			li.product-nav__item
				a.product-nav__link(href="#")
					span.product-nav__text Советы
					span.text-count 4
			li.product-nav__item
				a.product-nav__link(href="#")
					span.product-nav__text Вопросы и ответы
					span.text-count 7
