mixin color-choose(props)
	.color-choose
		+form('colors')
			.form__body
				+fieldset('Выберите цвет')
					+field-text({
						mods: 'width-m,no-label',
						labelText: '',
						attrs: {
							type: 'text',
							name: 'color-choose',
							placeholder: 'Введите код цвета RAL'
						}
					})
				.color-choose__item
					+checkbox({text: 'Выбрать все 213 цветов'})
				h2 Каталог цветов RAL
				.color-choose__item
					.color-choose__title
						+checkbox({text: 'Все оттенки зеленого'})
					.color-choose__list
						+fieldset('Зеленый')
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
							+checkbox({text: 'RAL 1000', color: '#417505', tooltip: true, descr: 'Зеленый мох'})
				.color-choose__item
					.color-choose__title
						+checkbox({text: 'Все оттенки желтого'})
					.color-choose__list
						+fieldset('Желтый')
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
							+checkbox({text: 'RAL 1000', color: '#d1d107', tooltip: true, descr: 'Желтый цырленок'})
				.color-choose__item
					.color-choose__title
						+checkbox({text: 'Все оттенки оранжевого'})
					.color-choose__list
						+fieldset('Оранжевый')
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
							+checkbox({text: 'RAL 1000', color: '#ff4500'})
				.color-choose__item
					.color-choose__title
						+checkbox({text: 'Все оттенки красного'})
					ul.color-choose__list
						+fieldset('Красный')
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
							+checkbox({text: 'RAL 1000', color: '#c51111'})
				.color-choose__item
					.color-choose__title
						+checkbox({text: 'Все оттенки синего'})
					.color-choose__list
						+fieldset('Синий')
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
							+checkbox({text: 'RAL 1000', color: '#2a2ae0'})
				.color-choose__item
					.color-choose__title
						+checkbox({text: 'Все оттенки серого'})
					.color-choose__list
						+fieldset('Серый')
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
							+checkbox({text: 'RAL 1000', color: '#777575'})
			.color-choose__footer
				span.color-choose__count Выбрано <b>30</b> оттенков
				+btn({
					tag: 'button',
					text: 'Добавить в фильтр',
				})
