.tooltip-map {
	&__body {
		display: flex;
		border-radius: 10px;
		width: 690px;
		box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
		background-color: #fff;

		@media screen and (max-width: $phone-size) {
			flex-direction: column;
			width: 100%;
		}
	}

	&__info {
		flex: 0 0 264px;
		padding: 40px 16px;
		width: 264px;
		max-width: 264px;

		@media screen and (max-width: $phone-size) {
			flex: 0 0 296px;
			padding: 8px;
			width: 296px;
			max-width: 296px;
		}
	}

	&__map {
		width: 100%;

		@media screen and (max-width: $phone-size) { height: 300px; }
	}

	&__title {
		display: block;
		margin-bottom: 8px;
		font-size: 18px;
		line-height: 24px;
	}

	&__text,
	&__qr-text {
		display: block;
		margin-bottom: 16px;
		font-size: 14px;

		@media screen and (max-width: $phone-size) { font-size: 12px; }
	}

	&__label {
		font-family: $font-family-boldest;
		font-weight: bold;
		font-size: 14px;
	}

	&__block {
		display: flex;
		flex-direction: column;
		margin-bottom: 16px;
	}

	&__qr-img {
		width: 230px;
		height: 230px;
	}

	&--active {
		display: block;
	}
}
