.product-prev {
	border: 2px solid transparent;
	border-radius: 4px;

	&__marks {
		position: absolute;
		left: 8px;
		top: 0;
		display: flex;

		> * {
			&:not(:last-child) { margin-right: 8px; }
		}
	}

	&__mark {
		border-radius: 0 0 4px 4px;
		padding: 0 8px;
		height: 30px;
		font-family: $font-family-semibold;
		font-size: 14px;
		line-height: 24px;

		&--bg {
			&-yellow { background-color: $color-main-action; }

			&-green {
				color: #fff;
				background-color: #1fa349;
			}
		}
	}

	&__info-wrapper {
		@media screen and (max-width: $tablet-size) { display: flex; }
	}

	&__info {
		display: flex;
		align-items: flex-end;
		margin-bottom: 16px;
		font-size: 14px;

		> * {
			&:not(:last-child) {
				margin-right: 8px;

				@media screen and (max-width: $tablet-size) {
					margin-right: 0;
					margin-bottom: 8px;
				}
			}
		}

		&--wide {
			@media screen and (max-width: $tablet-size) {
				align-items: flex-start;
				flex: 1;
				flex-direction: column;
				max-width: 100%;
			}
		}

		@media screen and (max-width: $tablet-size) {
			align-items: flex-start;
			flex: 0 0 33%;
			flex-direction: column;
			width: 33%;
			max-width: 33%;
		}
	}

	&__header {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 16px;
		height: 136px;
	}

	&__body {
		display: block;
		margin-bottom: 8px;
		padding: 0 8px;
		background-color: #fff;

		@media screen and (max-width: $tablet-size) { padding: 0; }
	}

	&__footer { opacity: 0; }

	&__img {
		margin: 0 auto;
		max-width: 100%;
		max-height: 136px;
	}

	&__name {
		font-family: $font-family-semibold;
		font-weight: 600;
		font-size: 14px;
	}

	&__title {
		margin-bottom: 8px;
		min-height: 56px;
	}

	&__label {
		font-size: 12px;
		white-space: nowrap;
		text-transform: uppercase;
		color: #1fa349;
	}

	&__value { white-space: nowrap; }

	&__price {
		display: flex;

		> * {
			&:not(:last-child) { margin-right: 8px; }
		}
	}

	&__price-old {
		padding: 0 8px;
		font-size: 14px;
		text-decoration: line-through;
		color: $color-text-info;
	}

	&__price-current {
		font-family: $font-family-boldest;
		font-weight: bold;
		font-size: 16px;
	}

	&__icon {
		margin-right: 8px;
		width: 24px;
		height: 24px;
		fill: #000;
	}

	&:hover,
	&:focus {
		border-color: $color-main-action;
		box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);

		.product-prev {
			&__footer {
				display: block;
				opacity: 1;
			}
		}

		@media screen and (max-width: $tablet-size) {
			border-color: transparent;
			box-shadow: none;
		}
	}

	&--hide {
		@media screen and (max-width: $tablet-size) { display: none; }

		@media screen and (max-width: $phone-size) { display: block; }
	}

	&--no-footer {
		.product-prev {
			&__footer {
				@media screen and (max-width: $tablet-size) { display: none; }
			}
		}
	}

	&--grid {
		&-a { grid-area: first; }
		&-b { grid-area: second; }
		&-c { grid-area: third; }
		&-d { grid-area: fourth; }
		&-e { grid-area: fives; }
		&-f { grid-area: sixes; }
	}
}
