.contacts-map {
	display: flex;

	.order-callback__link {
		font-weight: bold;
		font-size: 14px;
		text-decoration: underline;
	}

	&__info {
		flex: 1;

		> * {
			margin: 16px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}

	&__time {
		display: flex;
		flex-direction: column;
	}

	&__time-text {
		margin-bottom: 8px;
		font-family: $font-family-boldest;
		font-weight: bold;
	}

	&__actions {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media screen and (max-width: $phone-size) { flex-direction: column; }
	}

	&__link {
		font-family: $font-family-semibold;
		color: $color-link;

		&--qr {
			text-decoration: underline;
			color: $color-base-text;
		}
	}

	&__map {
		flex: 0 0 630px;
		width: 630px;
		min-height: 320px;

		@media screen and (max-width: $tablet-size) {
			flex: 0 0 230px;
			width: 230px;
		}

		@media screen and (max-width: $phone-size) {
			flex: 0 0 160px;
			margin: 0 -16px;
			width: auto;
			min-height: auto;
		}
	}

	> * {
		&:not(:last-child) {
			margin-right: 16px;

			@media screen and (max-width: $phone-size) {
				margin-right: 0;
				margin-bottom: 16px;
			}
		}
	}

	@media screen and (max-width: $phone-size) {
		flex-direction: column;
	}
}
